[2019-12-18 11:21] goku321 opened #1874 "Double clicking on a document shows extra space at the end of the field value"
When I double click on a document in compass, it add a space at the end of the field value. please have a look at the attached screenshot.
<img width="1008" alt="Screenshot 2019-12-18 at 4 39 08 PM" src="https://user-images.githubusercontent.com/12848015/71082071-7a6dc480-21b6-11ea-8c1b-cd9afc845834.png">

[2020-01-02 09:34] ghost opened #1876 "Info Link Open a empty tab in Browser"
In Latest update of mongo compass info link open a new Empty tab in browser

[2020-01-05 15:03] durran commented on #1876
Could you please specify which info link you are referring to?

[2020-01-06 10:52] veerarajkumar commented on #1876
Even all link will be open as empty tab in browser..

On Sun, 5 Jan, 2020, 8:33 PM Durran Jordan, <notifications@github.com>
wrote:

[2020-01-06 12:00] durran commented on #1876
Could you please provide?

1. Compass version
2. OS
3. A screenshot showing the link or links you are clicking

I am cliking on our info links in the latest Compass (1.20.4) in various locations and they all work for me, so it would be helpful to see exactly what you are trying to do. Thanks!

[2020-01-08 15:50] mshedsilegx opened #1880 "SSL settings not persisting in compass favorites"
Compass version: 1.20.4
OS: Windows 2016 server

1- Before UI restart
![image](https://user-images.githubusercontent.com/32753787/71992983-f37f9b00-31fb-11ea-9f26-52f69e39ae7e.png)

2- After UI restart
![image](https://user-images.githubusercontent.com/32753787/71993045-0abe8880-31fc-11ea-880e-6f10da5de1aa.png)

it is causing a connection timeout everytime when using the favorite after a fresh sta

[2020-01-09 00:24] JeffreyAngell opened #1882 "SSH Tunnel Identity File Problems"
While attempting to connect via SSH tunnel using an identity file and passphrase on the latest stable community version, I was only able to get it to work with an RSA key encrypted with `AES-128-CBC` or `DES-EDE3-CBC`. It failed to work with `AES-192-CBC`, `AES-256-CBC`, or with an openssh private key.

I got a variety of errors when using these other ciphers, including `Uncaught Error: Expected 0

[2020-01-09 00:53] JeffreyAngell commented on #1882
Confirmed that I get this same issue on current tip of master for at least AES-256-CBC

[2020-01-09 15:36] imlucas commented on #1882
These algorithms are supported but not enabled by default. [COMPASS-4069](https://jira.mongodb.org/browse/COMPASS-4069) will update [`ssh2`](https://github.com/mscdex/ssh2) and when combined with #1873 adding the below to client/server construction in [`ssh-tunnel.js`](https://github.com/mongodb-js/connection-model/blob/master/lib/ssh-tunnel.js#L31) will resolve this problem.

[code]

[2020-01-09 15:57] imlucas commented on #1880
https://jira.mongodb.org/browse/COMPASS-4066

[2020-01-10 01:03] zicokuo opened #1883 "The explain plan result page element dislocation"
When I perform query analysis on a sharded cluster MongoDB ,
Elements of analysis results are misplaced.
The reason is that the parent element wrapping `div.ExplainPlanPlugin_explain-tree-explain-tree` is missing css `{ display: flex ; justify-content: center }`;

![image](https://user-images.githubusercontent.com/4969958/72117255-0030fa00-3388-11ea-8600-f43eee886739.png)

[2020-01-15 11:11] lrlna commented on #1883
thanks for reporting this.

tracking jira issue: https://jira.mongodb.org/browse/COMPASS-4093

[2020-01-23 12:58] desthomas1 opened #1887 "Support for regex operators in Compass"
As of 23.01.2020, MongoDB Compass does not support $regexFindAll and $regexFind operators. Trying to use 'em within $addFields simply produced:

[2020-01-27 11:09] IrishAdo opened #1889 "String property rendered with additional space at end"
Using a Mac with all the latest updates ( os 10.15.2) Mongo Compass Community (Version 1.19.12 (1.19.12))

I have a document  that looks something like

`{ level1 : "A String"}`

when I open the document in mongoDB compass community it is rendered (LIST VIEW) with an additional space at the end of all strings

`{ level1 : "A String "}`

[2020-01-31 20:10] jchobantonov opened #1894 "Documents and Aggregations tabs do not work correctly when connected to mongodb collection that have huge documents"
## Feature Request
When I try to connect to mongodb server that have 14MB for each document (like a document that have one binary field) in the collection (around 10 documents is enough to trigger this behavior) the hosted mongodb atlas in *.mongodb.net will report error as matched documents exceed 100MB and they do not fit into the RAM - even if the client passes allowDiskUse:true the hosted serv

[2020-02-06 23:46] claytongulick opened #1897 "Requery when "Find" is pressed, regardless whether the search filter has changed"
Currently, if you perform a search on a collection, if you press "Find" again the search won't be performed again unless the query has changed.

This doesn't work well when an external system has changed the data and you want to repeatedly query the collection to check for the changes.

When pressing "Find" regardless of whether the search has changed since the last query, a new search should be p

[2020-02-12 09:25] antpaw commented on #1880
I've the same problem with the Password field, it doesn't get saved in favs

[2020-02-12 12:38] lrlna commented on #1897
Hey @claytongulick! Your use case makes a lot of sense. I've made an [issue on our jira](https://jira.mongodb.org/browse/COMPASS-4140) to track this there.

[2020-02-12 12:54] lrlna commented on #1894
Hey @jchobantonov! Thanks so much for reporting this. I've created a [jira ticket](https://jira.mongodb.org/browse/COMPASS-4141) for us to track for a possible solution.

[2020-02-12 12:58] lrlna commented on #1889
hey @IrishAdo! I am trying this out on our latest stable (1.20.5), and I am not able to see this in nested documents. For example:
![Capture d’écran, le 2020-02-12 à 13 56 31](https://user-images.githubusercontent.com/8107784/74336950-a749ec80-4d9f-11ea-9409-8d55e781bebc.png)

Would you mind updating to the latest stable and seeing if the problem goes away for you?

[2020-02-12 13:04] lrlna commented on #1887
Hi @desthomas1! Thanks for the report. I've added a [jira ticket](https://jira.mongodb.org/browse/COMPASS-4142) to track along with some of our other grammar fixes.

[2020-02-12 15:28] lrlna commented on #1883
hey @zicokuo! This should be fixed in our latest stable `1.20.5`. Try it out and see if it works for you.

[2020-02-12 16:05] IrishAdo commented on #1889
Will check tomorrow when I’m in the office

[2020-02-12 18:51] kwill4026 opened #1903 "Enabling mongodb-js/compass to be web-broswer based and accessible via a link"
I would like the mongodb-js/compass to work in a way in which one can visit a link (http://127.0.0.1:27017) in their web browser to access Compass. When the user pulls down the Github they would simply  git clone the project, install dependencies with npm install, start the app with npm start and then visit http://127.0.0.1:27017 in their browser. My usage is for when I dockerize  mongodb-js /comp

[2020-02-13 14:03] lrlna commented on #1903
hey @kwill4026! This is currently not possible and there are no plans in the near future to make compass work in the browser. It only works in a desktop environment. If you'd like, you can submit a feature request to [our feedback forum](https://feedback.mongodb.com/forums/924283-compass) so we can track how many folks want this feature a bit more.

[2020-02-13 16:07] kwill4026 commented on #1903
@Irlna thanks for the quick response. I may look through the source code briefly and see if its possible to expose it to be browser based. If I dont see anything I will not worry about it.
Thanks.

[2020-02-13 16:07] #1903 closed

[2020-02-14 10:37] IrishAdo commented on #1889
Sorry it took so long I can confirm that this is working as expected

[2020-02-14 10:37] #1889 closed

[2020-02-14 12:06] lrlna commented on #1889
Sweet! Glad it's working out

[2020-03-04 11:51] Tofandel opened #1911 "Storage issue"
Mongodbcompass: 1.20.5
Kubuntu: 19.04

None of my connections/settings are stored, when I restart the app my favorite or recent connections are lost

I'm getting this error:
[code]

WIth a bit of research I found a similar issue https://github.com/Foundry376/Mailspring/issues/681

`sudo apt install gnome-keyring` solved the issue but adding it as a dependency would be a good idea

[2020-03-04 11:52] Tofandel commented on #1880
The ssh tunnel settings as well, so basically none of the fields in `More options` are saved

[2020-03-06 22:12] Apodkaminnyy commented on #1887
First of all, thanks for the great tool!
Right now, $regexMatch don't work as well, produces the same output in aggregation builder as $regexFindAll and $regexFind.
Maybe some sort of warning or notice about not supporting that operators is required, because current behavior can make people think that something is wrong with their query, when actually it is written well, and people can lose time w

[2020-03-18 18:59] thiagodsantos opened #1923 "Unset not working in Aggregations tab"
Compass version: 1.20.5
OS: Windows Pro

Add stage $unset with a single field:
![error-mongodbcompass](https://user-images.githubusercontent.com/24657143/76996990-46c74580-6931-11ea-83d2-b7f1dd695210.PNG)

I tried in my API to test if the field is removed, and $unset works.

[2020-03-19 14:55] alexndreazevedo commented on #1880
All the favorites are saving as a connection string. Even when I set the fields individually it returns to connection string when opened.

[2020-03-19 17:01] JasonDepp commented on #1880
have the same issue under Compass Version 1.20.5

[2020-03-20 11:48] wulfnb opened #1926 "A JavaScript error occured in the main process"
If MongoDB is in idle for some time i'm getting the error popup with an Ok button.

**A JavaScript error occured in the main process**

If we press ok then application exiting.

Screenshot attached
![Screenshot from 2020-03-20 17-09-23](https://user-images.githubusercontent.com/46603705/77161045-b3c41200-6ace-11ea-843c-e682fc13ad20.png)

[2020-03-20 20:38] imlucas commented on #1926
@wulfnb which version of compass are you running? This bug was fixed in 1.16.1 https://jira.mongodb.org/browse/COMPASS-3156 If you update to a newer version, you should not see this message any longer.

[2020-03-24 04:43] wulfnb commented on #1926
I'm using version 1.15.1

[2020-03-24 13:32] imlucas commented on #1926
@wulfnb great then updating to a new version will fix this problem eg https://github.com/mongodb-js/compass/releases/tag/v1.20.5

[2020-03-24 13:32] #1926 closed

[2020-03-26 14:43] yelled3 opened #1929 "Disable a plugin"
Is there a way to disable a plugin in Compass?

I see in the `Installed Plugins` window a list of all the plugins, with little check marks next to each.
but no way to disable any of them.

I couldn't find anything in the official docs...

when working against a remote DB, the `Collection Stats` plugin really slows me down. (tabs take a few seconds to load since it does a count query on the collect

[2020-04-03 12:57] chaizeg opened #1931 "Exporting sorted data doesn't work"
Hello,

I'm currently using MongoDB Compass (version 1.20.5) for work on Windows 10. When I launch find with 'sort' and 'filter', the result i get in the GUI is correct, but once I try to export the data with that same query it doesn't work at all. I tested  for 'sort' alone, it didn't work too, but for 'filter' alone It worked.

Is this an issue in Compass or is there a way for me to fix it?

Tha

[2020-04-03 20:34] jeffrson opened #1932 "x509 authentication does not work"
While I can choose x509 authentication for a new mongodb connection it's obviously non functional.

It asks for a "username" while it should offer to load the certificate and key.

I tried to paste the filename but to no avail. The username (DN) does not (and cannot) work either.

[2020-04-04 21:07] Kadrian commented on #1880
I can confirm this under  `1.20.5` and OS X, and it  did work in an older version before, but I'm not sure in which version. How can we help fix this? Does anyone know when / where it was taken out?

[2020-04-08 07:01] thesanjeevsharma opened #1934 "Feature Request: Pre-populate collection name while exporting a collection"
## Feature Request
Pre-populate collection name while exporting a collection

## Detailed Description
When I am exporting a collection, a dialog appears asking for the location and file name. The file name field is blank by default.

## Context
So according to UX, it's better to have the collection name written there already. Users can edit it if they want to use something else. Recently, I had to

[2020-04-11 14:26] zbayoff opened #1935 "Make left aggregation column resizable"
## Feature Request
Allow the left aggregation column to be resizable.

## Detailed Description
On the Aggregations Tab, the left column width is always fixed. Can this be made to be resizeable?

![mongodb](https://user-images.githubusercontent.com/30878344/79046352-6ffc8e00-7bde-11ea-9098-38b129bc4d85.png)

## Context
 Many times aggregation configs get quite complex and long and it is painful to

[2020-04-30 14:23] VladimirVLF opened #1947 ""Authentication failed" when SSH to MongoDB on Ubuntu 18.04"
After upgrading to v1.21.0 I got a problem with connecting to MongoDB instance running on Ubuntu 18.04 via SSH. The response is always "Authentication failed". All credentials are correct.

Tunneling works fine: In mongod logs in Ubuntu I can see "...connection from 127.0.0.1...", but after 15-30 seconds it disconnects, and Compass client gives "Authentication failed".

After downgrading to v1.20.

[2020-04-30 16:30] mobinasadi opened #1948 "don't activating"
don't activating MongoDB compass  on windows 10
why?

[2020-04-30 19:40] HeberLZGlobant opened #1949 "Defect - Data import does not support nested structures anymore as of 1.21.0"
## Feature Request
Defect - Data import does not support nested structures anymore as of 1.21.0

## Detailed Description

Since the release of version 1.21.0, when importing data into a collection where the data for a field is a JSON, content for the field is treated as a string by default and none of the selectable field types seem to be for JSON-like objects. This was not an issue on version 1.2

[2020-04-30 22:30] charsi opened #1950 "Timeout error on incorrect case in username"
Just spent 30 minutes trying to troubleshoot this.

It seems usernames for mongo db can be case sensitive (which itself was a surprise to me). If a user tries to connect with the correct username but with some letters in the wrong case (MYuSer instead of MYuser) then compass shows a timeout error.

![image](https://user-images.githubusercontent.com/826310/80765144-26290880-8af7-11ea-8015-c3527b725

[2020-05-04 10:03] lrlna commented on #1949
hi @HeberLZGlobant. Thanks for the report! This is definitely a bug. We will track it on the [JIRA ticket you already created](https://jira.mongodb.org/browse/COMPASS-4262)

[2020-05-04 14:27] hmaesta commented on #1947
Maybe related to [this bug?](https://jira.mongodb.org/browse/COMPASS-4268)

[2020-05-04 22:19] VladimirVLF commented on #1947
Maybe, but `connect ECONNREFUSED 127.0.0.1:27017` seems like happening after any connection error and trying to connect again right after. Something to do with socket busy, not sure how it is implemented in Compass. Often it is just a matter of waiting and connecting again, or restarting mongo service, at least for me.

"Authentication failed" is an error, which one cannot go around.

[2020-05-05 19:06] ihor-tkachenko commented on #1947
In addition to the previous problem.
When I try to connect via ssh tunnel I get an error `getaddrinfo ENOTFOUND mongo`
On the bastion server side, the hostname mongo is resolving. So it looks like compass try to resolve these hostname locally instead of building tunnel.
Tried on:
`Catalina 10.15.4`
`Ubuntu 18.04`
`Ubuntu 20.04`
Please see the configuration example in attachment.
![image](https://u

[2020-05-08 23:03] nautilor opened #1956 "linux not saving favorites"
I'm currently experiencing a problem,
Under linux when I save a connection to my favetorites and then close and repoen the program
the connection saved is gone
by running mongodb-compass from console i saw this error

`(node:25335) UnhandledPromiseRejectionWarning: ReferenceError: error is not defined
    at /usr/share/mongodb-compass/resources/app.asar/node_modules/storage-mixin/lib/backends/secu

[2020-05-12 14:44] Anikei commented on #1931
**Build Info:**
MongoDB Compass 1.20.5
Windows 10

It looks like query works only for "filter" options only, any other options and combinations are ignored, even "filter + limit" (limit is skipped).

There is also no signs of "Filter" aggregation definition in query input on Export Collection popup window. Only inner JSON is displayed and it looks like input designed for the single type of aggrega

[2020-05-15 20:05] kabamccortesdelafuente opened #1962 "Cannot update document's field in sharded collection"
## Feature Request
Allow MongoDB Compass to update a document's field when the collection has a sharded key. Currently, you have to use the MongoDB shell or client driver.

## Detailed Description

Include the sharded index key/value when you're trying to update the document

## Context

We'll one of the selling points for me when it comes to GUIs like this is the ability to manipulate the data as

[2020-05-18 14:31] Anemy commented on #1956
At first glance this is an issue with how our credential store is being used in linux. Does your linux have a credential store installed, like https://wiki.gnome.org/action/show/Projects/GnomeKeyring?action=show&redirect=GnomeKeyring ?

[2020-05-18 14:32] Anemy commented on #1948
This was an issue we've looked into and fixed, there should be an update out now. Can you confirm if Compass is updated it's still happening? Thanks for reporting!

[2020-05-18 14:41] Anemy commented on #1947
Hello - this was a bug in 1.21.0 we've looked into and fixed, there should be an update out now. (Fixed in `1.21.2`). Closing now, feel free to reopen if anyone is experiencing this bug on a newer version. Thanks for letting us know.

[2020-05-18 14:41] #1947 closed

[2020-05-18 14:42] Anemy commented on #1948
Upgrading to `1.21.2` should fix this.

[2020-05-18 14:42] #1948 closed

[2020-05-18 14:50] Anemy commented on #1956
Since we've got two of these I'm closing this as a duplicate. Here's an earlier issue we can use: https://github.com/mongodb-js/compass/issues/1911

[2020-05-18 14:50] #1956 closed

[2020-05-18 15:31] Anemy commented on #1950
I think this works as intended with MongoDB. Probably best to create a ticket with MongoDB if you would expect case insensitivity. Also nice name if that's from diablo 2!

[2020-05-18 15:31] #1950 closed

[2020-06-18 08:54] OlegBrony opened #1974 "Bug in modal. Wrong error message."
if you try to create db without collection, there is an error like `Invalid namespace specified 'qwe.'
`:
![image](https://user-images.githubusercontent.com/19880334/84999926-6bae9d00-b15a-11ea-8f2d-6788c5a3f8ec.png)
I thought it was a problem with db name.

[2020-06-25 21:53] bluepuma77 opened #1976 "Feature Request: "Move to end" button in documents view"
## Feature Request
Instead of just going back `<` and forward `>` in the documents view, it would be great to have a "move to the end" button `>>|` to see the latest documents. I personally have better things to do than click 1854 times on `>`.
<img width="773" alt="Mongo-move-to-end" src="https://user-images.githubusercontent.com/5221187/85799071-e8371200-b73e-11ea-8034-2363efd25a32.png">

## Det

[2020-06-25 23:26] bluepuma77 opened #1977 "Bug Report: document count not updated on "Refresh""
## Feature Request
Document count is currently not re-freshed when pressing "REFRESH". Instead I need to close the Documents tab and re-open it to see the current Document count.

## Detailed Description
See above, "Refresh" should "refresh" the whole view.

## Context
I like to see if I create or delete objects in the background. Always closing and re-opening the tab is not a nice user experience

[2020-06-29 08:45] Ognian opened #1978 "BUG: JSON Export does not export ALL FIELDS!!"
There is no way for a full export of a collection!
Basing the included fields of an JSON export based on a sample is clearly a BUG and NOT A FEATURE.
Please include this again.

[2020-07-15 12:15] duartegarin opened #1985 "Issue with SSH Tunnel and Identity File"
## Bug Report

#### Current Behavior

I'm trying to connect to our Atlas clusters via compass.
We have whitelisted a bastion server and want to connect via SSH tunnel through the bastion.

The setup is the following:

Hostname: <primary cluster host>
Port: 27017
SRV record: False
Authentication: Username/pass
Auth db: admin

In more options:

Read preference: Primary (tried them all)
SSL: System C

[2020-07-15 15:49] molten-firescar96 commented on #1911
The issue for me was related to mongo-compass being unable to access https://en.wikipedia.org/wiki/GNOME_Keyring.

I tried a couple solutions online such as https://bbs.archlinux.org/viewtopic.php?id=224652 to no avail. I read that most login managers (lightdm, ssdm, gdm, etc.) will unlock it at the time of login -> I now use lightdm instead of logging into my computer from the terminal with a cal

[2020-07-21 08:11] dakshshah96 opened #1988 "Question: Run aggregations within MongoDB Compass"
## Question

Is there a way to execute the aggregation I've built and get the results in Compass?

## Additional context

The aggregation builder is a great feature to have and brings Compass at par with famous softwares like [Studio 3T](https://studio3t.com/). There is however, no way to actually execute the aggregation I've built inside Compass or at least have a shell where we can type commands

[2020-07-28 12:13] szygendaborys opened #1992 "Adding new collection name with dot at the end creates new collection."
Creating a new collection with the dot (".") at the end of the collection name returns an error, but also creates a collection with the dot included. Additionally, you can neither remove or enter into this collection.

## Bug Report

#### Current Behavior

I have clicked a "+" in Mongo Compass in order to create a collection named "absences". By mistake I wrote  "absences." and clicked "Create". A

[2020-08-15 15:37] JafarAkhondali opened #1997 "Bug Report - Saved password is exposable via developer tools"
Not sure if this is the considered behavior or a security bug(concern).
In the connection window, password are saved but not visible to user. However, the password can be seen using DevTools.
## Bug Report

#### Current Behavior
Currently, password can be seen using DevTools.

1. Open a new connection window
2. Use a saved connection with a password authentication or create a new connection
2. Pre

[2020-08-17 20:55] Anemy commented on #1988
Hi @dakshshah96 - In our next release coming in the next few weeks we'll have be adding an embedded shell in compass. It'll be able to run aggregations and show results.

[2020-08-17 20:55] #1988 closed

[2020-08-19 09:47] Anemy commented on #1876
Going to close this for now, feel free to reopen if anyone experiences this or if you've got more information we can use.

[2020-08-19 09:47] #1876 closed

[2020-08-23 16:13] damiantoczek opened #1999 "Dots in key names cause error"
When creating an object, via compass it's not possible to create keys that use dots.
Here a example: `usb-c 3.1` causes an error, when the dot is removed, it works.

The unlogic things happens now. I can edit/update it and add the dot afterwards and it won't show any errors, I hope this is just a bug and not intended to be.

[2020-09-01 13:08] Anemy commented on #1882
Looks like we've updated `ssh2` which should pull in support for these algorithms. Thanks for bringing this up!

[2020-09-01 13:08] #1882 closed

[2020-09-02 10:14] Anemy commented on #1997
Hi @JafarAkhondali - this is expected behavior. While we do encrypt passwords with the system's credential store, once Compass is open we want users to be able to customize their connections and as a result, view/change their password.

Your suggested solution around making password saving optional is definitely a solid idea. We've got that one in our feedback forum: https://feedback.mongodb.com/f

[2020-09-02 10:14] #1997 closed

[2020-09-04 23:01] imlucas commented on #1882
Thanks, @Anemy!

[2020-09-05 10:11] lukywong opened #2008 "Document elements covered partially by doc actions bar(PULL REQUEST 283 raised on project compass-crud)"
On readonly document, the first line objectid cannot be selected because it's covered by document action bar
![image](https://user-images.githubusercontent.com/1433871/92302481-0cb13500-ef9f-11ea-9e5e-85036d89e41b.png)

## Bug Report

#### Current Behavior

The ObjectId value "5e6d2e72c59726263bf3d1b4" cannot be selected on readonly mode

#### Code/Gist

#### Expected Behavior/Code

The ObjectId v

[2020-09-14 12:50] steffanhalv opened #2014 "Feature Request - Compass on Mac does not open new window on start"
## Feature Request

## Detailed Description

When opening compass on mac it does not create a window, I have to go in the menu bar in top and select `connect > connect to` before a window displays.

## Context

When I click the compass icon in doc, It is hard to see if compass has opened & if I use multiple monitors it is only visible in the menu bar on one of the multiple monitors.

## Possible I

[2020-09-22 17:15] saisandeepvaddi opened #2017 "Feature Request: Can you please move the new tab button next to the last tab."
## Feature Request
New Tab button seems too far to reach and easy to miss.

Almost every application with tabs seems to have the new tab button right next to the last tab.(Chrome, Firefox etc.,)

## Context

Although this doesn't have to do with actual functionality I personally keep missing the tab button. I'm no UX expert but it seems keeping it right next to the last tab feels familiar and easi

[2020-09-22 17:18] saisandeepvaddi commented on #2017
I just saw the compass-screenshot in the repo. It already seems to have it like that.

Is that part of a new release?

[2020-09-23 06:36] Anemy commented on #1999
Which version of MongoDB are you running? Dot in a key name was added in 3.6: https://docs.mongodb.com/manual/core/document/#field-names

It also has a bit of a warning around its usage:
[code]

[2020-09-23 09:29] Anemy commented on #1999
<img width="606" alt="Screen Shot 2020-09-23 at 11 28 53 AM" src="https://user-images.githubusercontent.com/1791149/93994246-f8877900-fd8f-11ea-8c7e-a5c9ece09685.png">
Ah looks like our document creator is doing some validation which is too strict for this case (it was built around the time of 3.6). Looks like something we can improve. Thanks for bringing it up

[2020-09-23 09:36] Anemy commented on #1976
Thanks for the suggestion - and nice screenshot.
I'm a bit reluctant to add this in since it brings a bit more clutter to the UI and is something that a `sort` could probably address.
Does something like this work for your use case?
<img width="1056" alt="Screen Shot 2020-09-23 at 11 33 11 AM" src="https://user-images.githubusercontent.com/1791149/93994995-c32f5b00-fd90-11ea-9d28-faa81dda6cd7.png"

[2020-09-23 09:36] #1976 closed

[2020-09-23 09:38] Anemy commented on #1935
Hi Zach - thanks for the good suggestion. I think this is definitely something we can improve.
We take a lot of input from our feedback forum as well. Here's the issue there if you'd like to upvote for visibility: https://feedback.mongodb.com/forums/924283-compass/suggestions/40319923-resize-input-field-within-aggregation-editor

[2020-09-23 14:42] Anemy commented on #1999
Sorry - spoke a bit too soon, this error is from the [mongodb node driver](https://github.com/mongodb/node-mongodb-native). The driver currently doesn't support dots in key names.
```"Until support is added in the query language, the use of $ and . in field names is not recommended and is not supported by the official MongoDB drivers."```

Maybe once this ticket: https://jira.mongodb.org/browse/SE

[2020-09-23 14:42] #1999 closed

[2020-09-23 16:31] Anemy commented on #1932
Hi @jeffrson
To use x509 with Compass the certificate and key are inputted in the `SSL` section in the `More options` tab.
Here's a screenshot of that page with an x509 connection I'm using (NOTE: the Certificate Authority isn't used and can be anything)
<img width="618" alt="Screen Shot 2020-09-23 at 6 30 31 PM" src="https://user-images.githubusercontent.com/1791149/94041685-df4fee00-fdca-11ea-96

[2020-09-23 16:31] #1932 closed

[2020-09-23 17:46] Anemy commented on #1932
Also from the [compass connecting docs](https://docs.mongodb.com/compass/current/connect/):
___
If you are using [Atlas-managed certificates](http://docs.atlas.mongodb.com/security-add-mongodb-users/#select-an-authentication-method), your username must be prefaced by “CN=” per[ RFC 2253](https://tools.ietf.org/html/rfc2253.html). For example, the username “X509User” must be provided as “CN=X509Use

[2020-09-24 15:36] Anemy commented on #2017
Good suggestion - here's a PR: https://github.com/mongodb-js/compass-collection/pull/129
Once that's merged in, it'll be in one of the next Compass releases.

[2020-09-24 17:38] saisandeepvaddi commented on #2017
Awesome. Looking forward to the release 👍

[2020-09-28 09:40] Anemy commented on #1985
Hi @duartegarin Currently we do not support using `System CA` SSL when connecting through SSH to a non-local connection. This is because we're attempting to validate the server's identity through the SSH tunnel, which will always be localhost/127.0.0.1, which cannot be validated to the server's hostname. Does setting SSL to `Unvalidated (insecure)` work for your connection and use case?

Thanks fo

[2020-09-28 09:40] #1985 closed

[2020-09-28 09:52] Anemy commented on #1929
Hi @yelled3 - currently there's no way to disable plugins in Compass.
It is a feature request though, so maybe we can get around to it soon.
If it's alright I'll close this issue and we can use this feature request in our feedback forum (which allows for voting): https://feedback.mongodb.com/forums/924283-compass/suggestions/40564801-ability-to-disable-plugins

I think the main issue here though i

[2020-09-28 09:52] #1929 closed

[2020-09-28 11:55] Anemy commented on #1883
Closing - if this issue persists feel free to reopen :) Thanks again for reporting.

[2020-09-28 11:55] #1883 closed

[2020-09-29 12:11] Anemy commented on #1962
Hello! Thanks for reporting this.
Tracking this in our feedback forum also which allows for upvotes: https://feedback.mongodb.com/forums/924283-compass/suggestions/38675587-update-on-shard-cluster
Hopefully we can get to this in soon for you, we've done a bit of work around improving updating documents recently, but this one hasn't quite made it in yet.

[2020-09-29 12:18] Anemy commented on #1923
Hi @thiagodsantos I'm unable to reproduce this with the current Compass:
<img width="620" alt="Screen Shot 2020-09-29 at 2 15 04 PM" src="https://user-images.githubusercontent.com/1791149/94556921-2c661100-025e-11eb-9be3-36c4f8da9ec8.png">
I'm going to close this if that's alright - can you confirm if the issue has gone away? Feel free to reopen if not.

It doesn't look like this is the issue in y

[2020-09-29 12:18] #1923 closed

[2020-09-29 21:36] kabamccortesdelafuente commented on #1962
Thanks! I've upvoted it. Should we close this then?

[2020-09-30 19:03] madansu opened #2027 "Launch MongoDB Compass from the command line"
Hi,

Is it possible to launch MongoDB Compass and initiate a database connection, using the command line ?
I'm unsure if this is available or not (can't find it anywhere), but I would like to be able to open a connection through command line. It would open Compass and connect to the provided server.

ex. MongoDBCompass.exe -s myhost-a.com:27017,myhost-b.com:27017,myhost-c.com:27017 -u mongoUser -p

[2020-10-01 10:12] Anemy commented on #2027
Hi @madansu thanks for opening the issue - this isn't something we support - yet. We have a feedback forum we use for tracking feature requests (which allows for upvoting), looks like this is in there already: https://feedback.mongodb.com/forums/924283-compass/suggestions/38666278-i-wish-to-accelerate-connection-to-a-deployment-f If it's alright I'll close this issue for the feedback forum one, fe

[2020-10-01 10:12] #2027 closed

[2020-10-02 22:13] madansu commented on #2027
Hi @Anemy,

Can you point me to where this location would be on a Windows computer ?
Also, if the password is missing from the connection file, will Compass prompt me for the password ?

Thanks,

[2020-10-02 22:19] madansu commented on #2027
Also, can you please share the format of the connection stored on the disk

[2020-10-05 01:55] bigshans opened #2028 "Bug Report"
## Bug Report

#### Current Behavior

When I input, the cursor position is always a few characters away from the position I am editing.

#### Code/Gist

Any Input text aera you can try, I have always been like this.

#### Expected Behavior/Code

The cursor position is on my edit position

#### Environment

- node.js / npm versions: v14.12.0/6.14.7
- OS: 5.8.11-1-MANJARO

#### Possible Solution

##

[2020-10-05 08:10] addaleax commented on #2028
Could you maybe share a screenshot, or screencapture, demonstrating the problem?

[2020-10-06 10:53] bigshans commented on #2028
@addaleax Here is a screenshot:
![Peek 2020-10-06 18-51](https://user-images.githubusercontent.com/26884666/95192699-285d6480-0805-11eb-8526-0cb004de60f5.gif)

[2020-10-06 10:58] addaleax commented on #2028
Thanks, I’ve opened https://jira.mongodb.org/browse/COMPASS-4436 to track this on our side

[2020-10-13 14:25] #2008 closed

[2020-10-15 11:20] endertunc opened #2037 "`Authentication Database` is ignored when using connection string"
#### Current Behavior

I have connection string to connect mongodb cluster with basic auth and authentication database which I tested with mongo (cli) and Studio 3T that works.

I found that authentication database part in connection string is ignored and I was keep getting auth failed error.

This is the page where I found the connection string specs: https://docs.mongodb.com/manual/reference/con

[2020-10-15 11:26] endertunc commented on #2037
I found that this is the wrong repository. I am closing the issue.

[2020-10-15 11:26] #2037 closed

[2020-10-15 12:30] Anemy commented on #1934
@thesanjeevsharma Opened a pr for this https://github.com/mongodb-js/compass-import-export/pull/211 - if it makes it in it'll be in a future release of compass.
And just saw you mentioned you'd be up for working on it sorry 😅
Thanks for the good suggestion.

[2020-10-21 08:52] xoox opened #2040 "Bug Report: table header overlapped when viewing object fields"
## Bug Report

#### Current Behavior

When viewing document with object fields as the following example in table view, table headers overlapped and not properly aligned with table cells.

[code]

#### How to re-produce

1. Create a new empty collation and a document with the above example.
1. Check collections in table view.
1. Click the expansion button in assets field to open a tab of this objec

[2020-10-21 13:04] gabrielfbarros opened #2041 "Feature Request - Allow to set an alias to a given connection"
## Feature Request

## Detailed Description

It would be great if we could set an alias to an given connection on Compass. When you have several connections to different servers, you need to memorize what each ip address stands for.

[2020-10-21 13:41] Anemy commented on #2041
Hi @gabrielfbarros Compass has the ability to save connections as favorites which, as I understand it, does what you want! :D
Here's the docs page on it: https://docs.mongodb.com/compass/master/connect/favorite-connections

[2020-10-21 13:41] #2041 closed

[2020-10-21 13:45] Anemy commented on #2040
Hi @xoox - thanks for opening the ticket - we've just fixed this in our data explorer: https://github.com/mongodb-js/compass-crud/pull/291
It'll be in the next release :D
I'll leave this ticket open until it's released and then we can close it.

[2020-10-21 14:00] Anemy commented on #1962
We can keep it open if that's alright. That way if anyone else has this issue they can see it's open - and we can also then remember to close this issue and here when this functionality is added.

[2020-10-21 16:52] gabrielfbarros commented on #2041
@Anemy yes, that's what I was looking for. Thanks!

I'm wondering if in future versions of Compass, those options could be easier to find, because I would never find those, I mean, it's not intuitive. But, now I already know, thanks again!

[2020-11-04 17:00] Anemy commented on #2040
It's live! Thanks again. Feel free to open if still happening with the new version.

[2020-11-04 17:00] #2040 closed

[2020-11-04 17:01] Anemy commented on #2017
@saisandeepvaddi  Fix is live in the new version 1.23.0 ! Thanks again. Feel free to open if still happening with the new version.

[2020-11-04 17:01] #2017 closed

[2020-11-04 17:05] saisandeepvaddi commented on #2017
Thank you :)

[2020-11-09 15:27] #1874 closed

[2020-11-16 13:51] Anemy commented on #1962
Fix is in https://github.com/mongodb-js/compass/issues/1962 - should make it into Compass 1.24.0
Feel free to try out the beta which has it already. Closing this, feel free to reopen if updating to this version doesn't fix.

[2020-11-16 13:51] #1962 closed

[2020-11-18 17:17] Utsav-Ladani opened #2061 "Bug Report with solution - Loading page stuck"
# Loading page stuck

#### Current Behavior

When install mongoDB compass in windows OS it not start properly. Loading page stuck and error message throw in dev console

I read about it on jira,mongodb.org and only few people get this error.

#### Expected Behavior

Program should run without error

#### Environment

- npm versions: not important
- OS: windows 7

#### Possible Solution

Yeah, I so

[2020-11-19 19:42] Anemy commented on #2061
Thanks for reporting this!
Created a ticket to track: https://jira.mongodb.org/browse/COMPASS-4510
I'll post here once we've got an update. 👍

[2020-11-23 07:37] houjingyi233 opened #2066 "Bug Report - execute exe from unexpected path"
## Bug Report - execute exe from unexpected path

#### Current Behavior

After install mongodb-compass-1.23.0-win32-x64.msi if you rename any exe to wmic.exe and put it to C:\node_modules\\.bin\wmic.exe then launch mongodb compass you can find C:\node_modules\\.bin\wmic.exe will be executed by mongodb compass.
As far as I know, this is because mongodb compass used NPM library execa(https://github.

[2020-11-29 17:34] jgoldverg opened #2068 "Will there be support for macOS/AArch64?"
## Question
Hi all I was wondering if there is any intention to have Mongo Compass run natively on macOS/AArch64.

Currently I have gotten it running using Rosetta 2, but this has obvious flaws(huge battery consumption to start with). It would be really awesome if there could support for the new m1 Macs.
## Additional context
I am not sure what work this would take, but if there is anything you ne

[2020-12-09 22:31] kabamccortesdelafuente commented on #1962
It looks like it worked 👍  thanks for the support on this 😃

[2020-12-14 05:29] abel3t opened #2075 "[v1.24.1] Can not connect DB"
- I have cluster mongodb and it can access with openVPN.
- I use connection string `mongodb://<username>:<password>@<host>:<port>/<db>?authSource=admin`.
- I can connect to my db with Compass v1.22.1.
Please help me! Thanks!

[2020-12-14 16:06] Anemy commented on #2075
Hi @abel3t we've been able to reproduce this issue. Looks like the new version of the node mongodb driver handles direct connections slightly differently than we're used to. We're working on a fix. For now I'd recommend using a pre 1.24.1 version :/
Tracking in https://jira.mongodb.org/secure/RapidBoard.jspa?rapidView=1185&view=detail&selectedIssue=COMPASS-4534
Thanks for reporting!

[2020-12-14 16:08] Anemy commented on #2066
Hi @houjingyi233  - thanks for reporting. This does look like a bug.
We're tracking this here in jira: https://jira.mongodb.org/browse/COMPASS-4510?filter=-2

[2020-12-14 18:47] Anemy commented on #2075
Keeping this open till it's in Compass and released. I think github auto closed it.

[2020-12-15 02:04] Anemy commented on #2066
Closing this as duplicate of https://github.com/mongodb-js/compass/issues/2061

[2020-12-15 02:04] #2066 closed

[2020-12-16 15:16] addaleax commented on #2028
We probably won’t get around to fixing this because this looks like a OS-specific font issue, which may not be under our control. Thank you for reporting this, though!

[2020-12-16 15:16] #2028 closed

[2020-12-16 21:00] code-is-art commented on #2075
I can confirm that both 1.22.1 and 1.3.0 works for me when 1.24.1 does not using ssh tunnel.

[2020-12-17 13:16] goldami1 opened #2085 "MongoDB Atlas Cluster Database - can't login with X509 user with Compass (COMPASS-4544)"
**Problem Description**
On version 1.22.1 it was still possible to connect with x509 (user) authentication to cluster db.
However, after upgrade to 1.24.1, it stopped to work.

**Steps to Reproduce**
1. Fill in connection fields individually
2. fill cluster dns name in Hostname field
3. SRV Record enabled
4. Authentication - X509, username: username as created in Atlas DB
5. Fill replica set name

[2020-12-17 15:10] Anemy commented on #2075
@code-is-art @abel3t We've just released `1.24.6`. It's got the fix in it that should fix this issue. Going to close this, please reopen if you update and still find the connection not working.
Thanks again for posting the issue! If y'all ever think of some cool things we can add to improve Compass feel free to add it to our feature request forum - or upvote if it's already there: https://feedback

[2020-12-17 15:10] #2075 closed

[2020-12-17 15:19] Anemy commented on #2085
@goldami1 In 1.24.1 we updated our mongodb driver to 3.6.3 we had a fix where it started to use the username field supplied in the username field: https://github.com/mongodb/node-mongodb-native/commit/9110a45cfa9a536795fd3cbca92d1c1b4dc61d59 . Previously it seems this was unused. I suspect this is causing the issue. Sorry that updating caused it to stop working.

Two potential solutions:
- Remove

[2020-12-17 15:19] #2085 closed

[2021-01-11 15:44] LinusU commented on #2068
Electron is currently fixed at version `6.1.7`, we need to get to at least `11.0.0` for arm64 support.

https://github.com/mongodb-js/compass/blob/2deb992ea07d303e14752f79dd4653b4a717fa17/package.json#L387

Trying to upgrade it I ran into issues with it being stuck at 6.x in hadron-build: https://github.com/mongodb-js/hadron-build/issues/430

[2021-01-13 17:02] Anemy commented on #2061
Hi @Utsav-Ladani - we've just released `1.25.0` with a fix for this issue. Going to close this ticket. Feel free to reopen if you upgrade and it still persists. Thanks again for reporting it!

[2021-01-13 17:02] #2061 closed

[2021-01-13 23:48] RohanTalip opened #2096 "Feature Request: allow the left panel with the database names and collections to resize"
## Feature Request

The left panel with the database names and collections can be expanded (and collapsed), but only to a pre-determined width.  It can't currently be resized and I'm looking at some quite long database and collection names, so it would be great if it could be resized.

## Detailed Description

## Context

## Possible Implementation

Having a draggable handle for the divider would

[2021-01-14 00:00] RohanTalip opened #2097 "Feature Request: Be able to search databases and collections independently"
## Feature Request

## Detailed Description

I'm using MongoDB Compass with a lot of databases, each of which have many similarly named collections.

The search bar currently filters both database names **and** collection names at the same time, but if I'm searching for a database name with a string that also appears in a collection name that appears in most databases, the database that I'm really

[2021-01-15 13:34] dutzi opened #2098 "When trying to build Compass it fails when running `transformPackageJson`"
When trying to build Compass locally, by running:

[code]

I get the following error message:

[code]

Seems like it's not reading `package.json`.

I hope I'm approaching this correctly, as this is pretty new to me. What I'm trying to achieve is to have `./dist` populated with a .dmg file I can run.

[2021-01-15 13:57] addaleax commented on #2098
Can you run `export HADRON_PRODUCT='mongodb-compass' HADRON_PRODUCT_NAME='MongoDB Compass' HADRON_DISTRIBUTION=compass` in the shell before you build locally?

[2021-01-15 17:29] dutzi commented on #2098
That did the trick. Thanks!

I'm going to abuse this thread, I it's ok, with a follow up question.

I'm seeing my changes working when running `npm start`, however after running:

[code]

And installing the new .dmg file, those changes are gone.

Is there a build step I'm missing?

Note that those changes I'm making are made in `@mongodb-js/compass-query-bar`, which is build locally (by running `y

[2021-01-24 14:29] #1934 closed

[2021-01-27 16:28] Astronought opened #2102 "Compass fails to filter documents when filtering using an int64 value"
I'm running MongoDB Server 4.4, using the latest version of Compass and I'm experiencing a weird issue when attempting to query documents using Compass.

My documents contain a field that is an int64, I'm using the latest C# driver to persist the data to MongoDB, documents are inserted/updated completely fine when querying this field from C#.

However when I attempt something like the following in

[2021-01-31 12:28] tarkh opened #2104 "Feature Request: add server version to access UI through URL?"
## Feature Request
Add server version of Compass.

## Detailed Description
At the moment, Compass uses Electron framework to create a desktop application. Are there any plans to make an option where Compass will run as a regular HTTP(S) server with an interface accessible via a URL? I understand that compass is written in Javascript and works via Node.JS and theoretically, such a modification shou

[2021-02-04 14:56] tocomo opened #2112 "remove obsolete package suggestions for deb package"
current debian package(Version: 1.25.0) suggests packages gir1.2-gnomekeyring-1.0 and libgnome-keyring0.

Both packages are installed by default or not available in current debian releases. Removing it will not break the app but prevents error messages if "installing suggested" is enabled.

[2021-02-22 13:32] meryacine opened #2127 "Mongosh exit command closes the connection"
Running "exit" command in _MongoSH Beta spits out MongoshUnimplementedError : exit not supported for the current platform: Compass.
A simple disconnect and re-connect brings back the connection, but server refresh button beside the server icon causes "An error occurred while loading navigation: Topology is closed, please connect", have to re-open Compass for it to work.

[2021-02-22 14:43] Anemy commented on #2104
Hi @tarkh we've got an item in our feedback portal which allows voting on features/ideas: https://feedback.mongodb.com/forums/924283-compass/suggestions/40531942-compass-as-a-webapp
If it's alright I'll close this issue and we can use that to track it. Hopefully we can do this soon, no plans currently though.

[2021-02-22 14:43] #2104 closed

[2021-02-24 15:09] Anemy commented on #2127
Hi @meryacine we're tracking this in https://jira.mongodb.org/browse/COMPASS-4585 we'll update here when it's fixed and live.  Thanks for bringing this up!

[2021-03-03 20:57] Anemy commented on #1897
Hey @claytongulick we've just released version [1.26.0](https://github.com/mongodb-js/compass/releases/tag/v1.26.0) which has a fix for this. Thanks for bringing this up! Feel free to reopen if you find it's not working quite right.

[2021-03-03 20:57] #1897 closed

[2021-03-05 05:07] claytongulick commented on #1897
Thanks!!!

[2021-03-10 16:42] #1974 closed

[2021-03-18 15:21] xoac opened #2138 "Schama analyze do not work as described in documentation with all geoJSON (Polygon example)"
This is quote from: https://docs.mongodb.com/compass/master/schema/#std-label-analyze-location-data

## Question

Is this documentation problem or compass do not work as expected?

## Additional context

The "analyze" tab in compass work as expected with "Point" but do not with "Polygon". Here is example with screenshots:

Point:
[code]

![image](https://user-images.githubusercontent.com/1863020/1

[2021-03-25 12:21] Anemy commented on #2138
@xoac Thanks for reporting - we currently don't support this. We'll update the docs to be a bit more descriptive of what we support.
We have a feedback portal that allows for updating features for us to add. If you have a moment, maybe you can upvote this: https://feedback.mongodb.com/forums/924283-compass/suggestions/38666188-display-geojson-types-other-than-points-in-schema
Then we can triage wh

[2021-03-25 12:21] #2138 closed

[2021-04-02 17:01] tbhaxor opened #2155 "Mongosh command keeps on loading"
## Bug Report

#### Current Behavior

Any command I enter in mongosh interface and hit enter, it keeps on loading

#### Code/Gist

Here is very simple example
![image](https://user-images.githubusercontent.com/28386721/113436793-fb2fee80-9402-11eb-8bde-4a8d0a9ed6a5.png)

#### Expected Behavior/Code

It should print the collection name

#### Environment

- node.js / npm versions: v15.11.0
- OS: Man

[2021-04-05 09:03] tkeidar commented on #1931
any update on this issue?

[2021-04-07 08:19] artjomkruglenkov opened #2159 "Bug Report: explain plan failed on sharded cluster"
Explain plan does not longer work after upgrading to Compass 1.26.0

## Bug Report

#### Current Behavior

In Compass version 1.26.0 when explain button is clicked in Explain plan section then nothing happens and screen does not update.

#### Code/Gist

#### Expected Behavior/Code

The expected behavior is to evaluate plan as it was before in version 1.25.0

#### Environment

- node.js / npm versi

[2021-04-07 14:45] c4c1us commented on #2159
Same issue when using $or operator.

[2021-04-07 21:30] Anemy commented on #2159
Hi @artjomkruglenkov - thanks for reporting.
I haven't been able to reproduce this yet, here's couple questions to hopefully help us identify what's happening:
- Does this happen with every query?
- How many documents are in the collection?
- Does it work on a collection with a smaller amount of documents?
- Is this a sharded cluster?

[2021-04-07 23:42] artjomkruglenkov commented on #2159
Hi @Anemy.

- Does this happen with every query?

Yes, at least with the ones I have tried.

- How many documents are in the collection.

Around 2.3mil

- Does it work on a collection with a smaller amount of documents?
- Is this a sharded cluster?

Yes, it's a sharded cluster. In fact, after your question I have tried running the same queries with non-sharded mongo setup and much fewer entries. I

[2021-04-08 13:04] rose-m commented on #2159
Thanks for the response @artjomkruglenkov! I'd have another question that would be interesting: which MongoDB server versions did you connect to? Was the test with the non-sharded setup the same version as the sharded cluster?

Thanks for your help!

[2021-04-08 13:10] artjomkruglenkov commented on #2159
@rose-m
The mongodb version is the same for both deployments: 4.2.12.

[2021-04-09 09:59] mydogspies opened #2160 "Feature Request - Import/export database - simple backup please!"
## Feature Request

Many of us would like to have a backup/export/import function in Compass like it is in almost any paid or free sql gui. It is literally astonishing that it does not exist for mongodb and must be done manually via command line with all of the errors that may come with that.

## Detailed Description

We already can export a collection but that makes little sense with hundreds or

[2021-04-11 18:40] tbhaxor commented on #2155
Any updates

[2021-04-12 08:36] silver-mx commented on #2159
I can confirm the same issue, our database is as well mongo db community version 4.2.12. I have tried with mongodb compass 1.26.0 and 1.26.1 and explain shows no results, as it the query were not executed. I needed to downgrade to compas 1.25.0 and explains work fine again.

[2021-04-12 09:03] addaleax commented on #2155
@tbhaxor Which Compass version are you seeing this problem with?

[2021-04-12 11:19] tbhaxor commented on #2155
@addaleax `1.26.1.beta.7-1` version [here](https://aur.archlinux.org/packages/mongodb-compass-beta-bin/)

I also tried all the packages listed [here](https://aur.archlinux.org/packages/?O=0&SeB=nd&K=mongodb-compass&outdated=&SB=n&SO=a&PP=50&do_Search=Go) and also the git clone. It's not working

[2021-04-12 11:36] addaleax commented on #2155
@gribnoysup Could this be from the child process failing during startup? I know we talked about something like this, where would the error show up in that case?

[2021-04-12 12:20] gribnoysup commented on #2155
The symptoms are similar, yeah. We fixed error propagation in https://github.com/mongodb-js/mongosh/pull/721 but I guess latest Compass shipped with a version that doesn't include that. I'll try to set up a VM with Manjaro to investigate

[2021-04-12 13:39] gribnoysup commented on #2155
Just tried on a fresh Manjaro install and I can't reproduce.

<img width="600" alt="image" src="https://user-images.githubusercontent.com/5036933/114398340-f8ba5b00-9b9f-11eb-8df1-24fb47281548.png">

@tbhaxor anything suspicious you can see in the devtools (you can open them by clicking View -> Toggle DevTools in the menu bar)? If there is nothing suspicious in the output there, there is this very

[2021-04-12 14:21] tbhaxor commented on #2155
@gribnoysup Which AUR repo you have installed?

[2021-04-12 14:25] tbhaxor commented on #2155
Never mind Its working. I had to delete the profile config from `rm -rf ~/.config/Mongo\ Compass*/`

![image](https://user-images.githubusercontent.com/28386721/114410539-13ed9080-9bc9-11eb-9c8e-0750dac9ec64.png)

[2021-04-12 14:27] #2155 closed

[2021-04-12 14:27] tbhaxor commented on #2155
@gribnoysup @addaleax Are there any plans for Dark Theme?

[2021-04-12 14:34] addaleax commented on #2155
@tbhaxor https://github.com/mongodb-js/compass/pull/1960 had some initial conversation around this – but yes, this is something that we do want to add at some point. :)

[2021-04-22 02:17] jgoldverg commented on #2068
Was just looking into the current [electron](https://github.com/electron/electron/releases/tag/v12.0.5) version, seems they are v12.0.5. Any chance that you could try again @LinusU?

[2021-04-29 21:01] khvr000 opened #2176 "Unable to use " $accumulator" operator in "$groupby" stage in aggregate query"
## Bug Report

#### Current Behavior
I wrote a query involving $accumulator and
ran it in robo 3t as well as Mongo DB Compass

In Robo 3t when I run Query it says that
"ok" : 0,
	"errmsg" : "unknown group operator '$accumulator'",
	"code" : 15952,
	"codeName" : "Location15952"
![robo3t error](https://user-images.githubusercontent.com/18584104/116617569-9d3beb80-a95b-11eb-934d-35892632603f.png)

Ev

[2021-04-30 11:47] addaleax commented on #2176
Which mongodb server version are you using? $accumulator is a new feature in 4.4, and the error message is what you would get if you ran it against a server with a lower version.

[2021-05-03 15:51] Anemy commented on #1894
Hi @jchobantonov we've been looking into this a bit. I think these features are currently working as expected. It looks like even when we have documents with binary data fields that are > 5mb we're able to load the crud UI and aggregations ui and still perform actions. We are looking into improving that error message you've mentioned to make it a bit more descriptive and visible. Going to close th

[2021-05-03 15:51] #1894 closed

[2021-05-10 05:28] #2176 closed

[2021-05-14 17:43] dutzi opened #2194 "Feature Request: Add a keyboard shortcut to focus on the Query input field"
## Feature Request

Having a keyboard shortcut for that should be easy to implement, I tried doing it myself, but my solution was a bit hacky.

Since Cmd+T creates a new tab, similar to most browser, I suggest **Cmd+L** should focus on the Query input field. Cmd+L focuses on the URL bar in most browsers, so I think it makes some sense.

[2021-05-29 06:15] slackero opened #2215 "MongoDB Compass Helper (Renderer) keeps running on quit once connected to a connection"
## Bug Report
MongoDB Compass doesn't close all processes of `MongoDB Compass Helper (Renderer)` on quit once connected to a connection.

#### Current Behavior
When MongoDB Compass once was connected to a connection a minimum of one process `MongoDB Compass Helper (Renderer)` stays active in the list of processes on macOS. When MongoDB Compass is just opened and quit without any connection all pro

[2021-06-01 09:10] mcasimir commented on #2215
Hi @slackerom, thanks for reporting this! We plan to solve this issue as part of: https://jira.mongodb.org/browse/COMPASS-4830.

[2021-06-07 06:19] matonb opened #2230 "Won't start on Raspberry PI 4"
I'm probably doing something wrong but I can't get compass to start on a Raspberry Pi4 (ubuntu server 21.04 64)

What I've tried (running from master branch):

[code]

[code]

[code]

Any suggestions appreciated

[2021-06-08 13:57] Anemy commented on #2230
Hi @matonb - nice to see you're trying it out. For the first error about `lerna: not found`
Can you try `npm install -g lerna` ?
You've caught this project at an interesting time - we are actually currently in the process of updating how Compass' development works, so this should be a bit easier in about a week.

Which node version are you using?

[2021-06-08 14:33] matonb commented on #2230
Hi @Anemy ,

  I fixed the lerna one, code block two above with `npm i lerna`
  As for node version, I think it was major 12 not sure on the minor.

  I rebuilt the machine it's now on 16.3.0, but not tried compass again

[2021-06-09 10:51] gribnoysup commented on #2230
Hey @matonb, we are currently in the process of migrating the whole thing to the monorepo and the docs are not up to date with the current process, the migration is not finished yet, so it might be awhile before we get to the docs, sorry for that.

If you just want to run compass locally from the repository while we are migrating the repo, the easiest way of doing this would be to skip running any

[2021-06-09 12:40] matonb commented on #2230
Hi @gribnoysup, thanks for the info I'll give it a go when I get chance.

[2021-06-10 12:25] #2215 closed

[2021-06-11 17:38] gribnoysup commented on #2215
Thanks again for reporting! The fix should be available in the latest beta release 1.27.0-beta.4 and will be generally available when 1.27.0 is released completely

[2021-06-17 20:46] JoeySelahJr commented on #1962
This is still an issue for me.  Compass Version 1.26.1 (1.26.1)

Is there any configuration necessary to get this working?

[2021-06-17 21:02] Anemy commented on #1962
@JoeySelahJr The fix should be in Compass version 1.26.1. Can you confirm your user has permissions to update documents? What is the error you are receiving?

[2021-06-17 23:05] JoeySelahJr commented on #1962
This is the error I'm receiving.  The shard key is on a field named "location" which is on the document and it is populated.  I'm verifying read/write access but that user was able to modify data in the atlas mongo web client.

![image](https://user-images.githubusercontent.com/47304561/122478104-a7529180-cf7d-11eb-9886-252e9ec0d09d.png)

[2021-06-25 08:25] xuanyangyang opened #2300 "compass displays date time with configurable timezones"
compass displays date time with configurable timezones

[2021-06-26 21:30] mbrancato opened #2302 "Timeout connecting to server after conversion to sharded cluster"
## Bug Report

#### Current Behavior

I was testing converting a cluster in MongoDB Atlas from a replica set to a sharded cluster. All connections were made with a `mongodb+srv` URL. After conversion to a sharded cluster, the existing connection was still intact and I could refresh a collection. However, after closing and re-opening Compass, the connection would timeout (the URL did not change).

[2021-07-01 18:22] ye-petrov opened #2311 "connect ETIMEDOUT with SSH tunneling after upgrading from 1.26.1 to 1.27"
## Bug Report

#### Current Behavior

Timing out when trying to connect to a "non-genuine mongo db" (AWS) through SSH tunnel, both built-in or external.

#### Expected Behavior/Code

Get connected.

#### Environment

- OS: Windows 10 Pro x64 20H2 19042.1052

#### Possible Solution

Downgrade to 1.26.1

#### Additional Context/Screenshots

I couldn't connect immediately after upgrading from 1.26.1

[2021-07-01 19:36] DrakeAnglin commented on #2311
I am also getting timeout issue

[2021-07-01 22:27] charleskoehl commented on #2311
I'm not using SSH but I also get a timeout on 2 different connections that were working right before I upgraded from 1.26.1 to 1.27

[2021-07-01 22:31] charleskoehl commented on #2311
Perhaps it has something to do with [the commits for this issue](https://jira.mongodb.org/projects/COMPASS/issues/COMPASS-4892?filter=allissues). (Found by comparing 1.26.1 to 1.27.0)

[2021-07-02 02:32] AnatoleAM commented on #2311
Can't connect through `kubectl port-forward` after this update. It's fine after downgrading to 1.26.1.

[2021-07-02 06:58] gribnoysup commented on #2311
Hey y'all! Thanks for reporting the issue, just wanted to say that we acked and will look into this shortly. @charleskoehl you might be right, we updated Node.js driver in Compass to v4 and there might be some breaking changes that are causing issues that we missed during testing

[2021-07-02 08:28] gribnoysup commented on #2311
Are you all trying to connect using connection from favorites/history after the update? If that's the case, can you try creating a new connection with the same configuration instead? It would also help if you could share more connection info (excluding all private information of course) for those specific connections that stopped working for you if possible

[2021-07-02 08:31] ZhangPuXi opened #2313 "connect EHOSTUNREACH after upgrade to 1.27.0"
## Bug Report

#### Current Behavior

connect EHOSTUNREACH after upgrade to 1.27.0. And then I downgrade to 1.25.0. All things worked well!

#### Code/Gist

#### Expected Behavior/Code

#### Environment

- OS: OSX 11.2.3

#### Possible Solution

#### Additional Context/Screenshots

Broken in 1.27.0

<img width="833" alt="1 27 0" src="https://user-images.githubusercontent.com/15119639/124245746-da3

[2021-07-02 08:49] ZhangPuXi commented on #2313
<img width="1265" alt="1 26 1" src="https://user-images.githubusercontent.com/15119639/124248458-749bc200-db55-11eb-91bc-0c252471ea3f.png">
Also tried 1.26.1 and it works well!

[2021-07-02 09:06] ZhangPuXi commented on #2313
114.116.235.191 is a public ip address and I do a haproxy to forward the requests to mongodb server(192.168.110.150)

[2021-07-02 09:44] gribnoysup commented on #2311
Another thing you can try doing to help us debug is trying to connect to your servers using [`mongosh`](https://docs.mongodb.com/mongodb-shell/). So far we are not able to reproduce the issue locally, so trying to limit the possibilities. `mongosh` is also using Node.js driver v4 and we are trying to confirm if that might be the thing that's causing the issue here

[2021-07-02 09:48] thmsl commented on #2313
I also received an error after upgrading to 1.27.0
`getaddrinfo ENOTFOUND`

Environment: OS: OSX 11.4
Compass version: 1.26.0 to 1.27.0

Rolled back to 1.26.0 and issue is fixed.

[2021-07-02 09:49] gribnoysup commented on #2313
Hey @thmsl, can you share more information about your connection options?

[2021-07-02 09:52] gribnoysup commented on #2313
Also if possible, can you try connecting to the same server using [`mongosh`](https://docs.mongodb.com/mongodb-shell/)? Do you get the same error?

[2021-07-02 09:56] thmsl commented on #2313
We use a port forward tunnel

![Screen Shot 2021-07-02 at 4 51 58 PM](https://user-images.githubusercontent.com/496215/124257113-3bb01d00-db56-11eb-82dd-2aa42fbcd5a5.png)

I'll try with `mongosh`

[2021-07-02 10:11] thmsl commented on #2313
Mongosh 0.15.4 using same connection string works

[code]

[2021-07-02 11:51] ye-petrov commented on #2311
Same behavior if I simply Ctrl+C/Ctrl+V the connection string into 1.27 as new connection without using the favorites/history panel.

Yep. Updated the shell, it works fine.

    C:\Program Files\MongoDB\Server\4.4\bin>mongo mongodb://USERNAME:PASSWORD@localhost:9999
    MongoDB shell version v4.4.6
    connecting to: mongodb://localhost:9999/?compressors=disabled&gssapiServiceName=mongodb
    Impl

[2021-07-02 11:54] gribnoysup commented on #2311
Thanks for trying it all out! This confirms one of our suspicions and I think we finally found the root cause, the fix is on its way in #2314. In the meantime you can try using the builds produced by CI in this PR (scroll to the bottom to see artifacts), this hopefully should resolve the issue: https://github.com/mongodb-js/compass/actions/runs/993292805

[2021-07-02 11:59] gribnoysup commented on #2313
Thanks for trying it out! I think this confirms our suspicion of what's causing it, the fix is on its way in #2314. In the meantime you can try using the builds produced by CI in this PR (scroll to the bottom to see artifacts), this hopefully should resolve the issue: https://github.com/mongodb-js/compass/actions/runs/993292805

[2021-07-02 12:04] ye-petrov commented on #2311
Yes, I can confirm that Windows build #146 works.

[2021-07-02 15:46] Treize2 commented on #2302
Same for me after upgrading to 1.27.0 I had to get the 1.26.1 back to get this working.

[2021-07-02 17:04] Anemy commented on #2313
Hi @ZhangPuXi - we've just release[ 1.27.1 ](https://github.com/mongodb-js/compass/releases/tag/v1.27.1)which should have a fix for this connectivity issue, if you have a moment can you install it and see if the issue is solved? Thanks! And sorry for the inconvenience.

https://github.com/mongodb-js/compass/releases/tag/v1.27.1

[2021-07-02 17:07] Anemy commented on #2311
Nice - we've just released a new version of Compass [ 1.27.1 ](https://github.com/mongodb-js/compass/releases/tag/v1.27.1)which has the fix for this connectivity issue, if you have a moment can you install it and see if the issue is solved? Thanks! And sorry for the inconvenience. Going to close this issue, feel free to reopen if you've updated and the connection is not working as expected.

https

[2021-07-02 17:07] #2311 closed

[2021-07-02 17:22] ZhangPuXi commented on #2313
Hi @Anemy - I've tried 1.27.1 and it works. Thanks for your awesome works! Thanks very much, have a good day.

[2021-07-02 17:33] #2313 closed

[2021-07-02 20:44] DrakeAnglin commented on #2311
I seem to still be having connection timeout issues with the 1.27.1. When i roll back to 1.26.1 it works.

![image](https://user-images.githubusercontent.com/37958526/124326600-4960a500-db4c-11eb-8a27-2bb642b47334.png)

[2021-07-02 21:35] Anemy commented on #2311
@DrakeAnglin Could you tell us a bit more about your connection configuration? Are you connecting to a replica set? Standalone? Single member in a replica set? TLS/SSL? SSH tunnel? How are you authenticating? Thanks, we'd like to get it working smooth for you.

[2021-07-02 21:44] DrakeAnglin commented on #2311
@Anemy Yes, I am connecting to a replica set, readPreference=primary, ssl=true. Not sure what you're looking for on how im authenticating, but i am using our application functional account with admin access using the user name and password via the mongodb.net hostname.

[2021-07-03 01:19] charleskoehl commented on #2311
1.27.1 working for me too. Thank you!

[2021-07-04 14:59] gribnoysup opened #2320 ""Server selection timed out after 30000 ms" error in Compass 1.27.1"
I seem to still be having connection timeout issues with the 1.27.1. When i roll back to 1.26.1 it works.

![image](https://user-images.githubusercontent.com/37958526/124326600-4960a500-db4c-11eb-8a27-2bb642b47334.png)

_Originally posted by @DrakeAnglin in https://github.com/mongodb-js/compass/issues/2311#issuecomment-873247789_

[2021-07-04 15:04] gribnoysup commented on #2311
Hey @DrakeAnglin, as your error message is different from what other people were getting in this thread and the fix from 1.27.1 worked for the person who opened the issue in the first place, I moved your comment to the new issue #2320, so please let's continue the discussion there

[2021-07-04 15:04] gribnoysup commented on #2320
@Anemy Yes, I am connecting to a replica set, readPreference=primary, ssl=true. Not sure what you're looking for on how im authenticating, but i am using our application functional account with admin access using the user name and password via the mongodb.net hostname.

_Originally posted by @DrakeAnglin in https://github.com/mongodb-js/compass/issues/2311#issuecomment-873271187_

[2021-07-05 07:27] ye-petrov commented on #2311
Yes, 1.27.1 works fine. Thank you for the quick fix!

[2021-07-05 14:29] simon-bonnet commented on #2320
Same

[2021-07-05 14:49] simon-bonnet commented on #2320
Also this is a stupid question but I can't find anywhere how to download the previous version, if anyone could  point me in the right direction that would be great thank you!

[2021-07-05 17:18] BogdanDarius opened #2323 "Client network socket disconnected"
## Bug Report

#### Current Behavior

In version 1.26.1 SRV connection when ssl is not used works as expected.
In version 1.27.1 same configuration throws an error <b>Client network socket disconnected before secure TLS connection was established</b>.

#### Code/Gist

#### Expected Behavior/Code

To connect to the cluster.

#### Environment

- node.js / npm versions: node v16.4.1, npm 7.17.0
- OS:

[2021-07-05 17:24] BogdanDarius commented on #2320
If you are using linux you can download previous versions from
[https://downloads.mongodb.com/compass/mongodb-compass_VERSION_amd64.deb](https://downloads.mongodb.com/compass/mongodb-compass_VERSION_amd64.deb)
ex: [https://downloads.mongodb.com/compass/mongodb-compass_1.26.1_amd64.deb](https://downloads.mongodb.com/compass/mongodb-compass_1.26.1_amd64.deb)

[2021-07-06 07:09] simon-bonnet commented on #2320
Ah windows am afraid :( thanks though!

[2021-07-06 07:33] gribnoysup commented on #2320
Hey @simon-bonnet, you can find Compass builds in the releases tab on github, here's a [1.26.1 release](https://github.com/mongodb-js/compass/releases/tag/v1.26.1) for example. Also if you want to find a download center link for your OS, you can go to the [Compass download page](https://www.mongodb.com/try/download/compass) and select your platform, copy link intead of downloading it and replace t

[2021-07-06 07:36] simon-bonnet commented on #2320
Ah I can search using the tags I see! Thanks!

[2021-07-06 11:31] mcasimir commented on #2320
Hi @DrakeAnglin, are you using an srv url? ie. `srv+mongodb://...` to connect to Atlas?

[2021-07-06 11:34] mcasimir commented on #2302
Hi @mbrancato @Treize2, could you also try 1.27.1?

[2021-07-06 11:47] mcasimir commented on #2302
@Treize2 where you connecting to `srv+mongodb` record too? Did you use any VPN?

[2021-07-06 11:51] mcasimir commented on #2320
Another very helpful information would be if you could confirm you can connect with `mongosh`: https://github.com/mongodb-js/mongosh/releases/tag/v0.15.5

[2021-07-06 11:52] mcasimir commented on #2302
It would also be helpful for us to know if you can connect with `mongosh`: https://github.com/mongodb-js/mongosh/releases/tag/v0.15.5

[2021-07-06 12:24] Treize2 commented on #2302
@mcasimir The version 1.27.1 is still on timeout.
The url used is : mongodb://<user>:<pwd>@<replicatset1>:27017,<replicatset2>:27017,<replicatset3>:27017/?authSource=<auth_db>&replicaSet=replicaset&readPreference=primary&ssl=false
I'll try the mongosh and will let you know

[2021-07-06 13:29] DrakeAnglin commented on #2320
@mcasimir yes, my connection string uses `mongodb+srv://`. I am not using VPN, i am on my corporate network, however this was not a issue with the previous version of compass. If i was on VPN or not it would work as our network team has opened up the ports for mongodb.

[2021-07-06 13:56] mcasimir commented on #2323
Hi @BogdanDarius, thanks for reporting this!

Could you paste here the connection string replacing username, password, hostnames and any information you don't want to share with placeholders?

It would be also great if you could answer few questions that would help us identifying the issue:

Are you trying to connect through a proxy / VPN / tunnel of sort?
Are you trying to connect to an Altlas cl

[2021-07-06 14:25] mcasimir commented on #2302
Ok I see! Yeah I hope `mongosh` would give us better insights. The connection string looks ok. Are you able to reach all the nodes in the replica set? Are there maybe nodes in the same replica set that may be not part of the connection string and that are not reachable?

[2021-07-06 15:26] BogdanDarius commented on #2323
As I stated in the issue report, it worked fine in 1.26.1 same connection string.

No I dont use proxy/VPN/tunnel.
I am trying to connect to a mongo db cluster that's inside a K8s cluster. I can connect to nodes one by one.
I get the same error with mongosh when using srv.

This doesnt work:
[code]

This works (not using srv):
[code]

[2021-07-07 09:29] NeverwinterMoon opened #2329 "MongoDB 1.27.1 export to JSON does not allow to export without _id"
## Bug Report

#### Current Behavior

- Press "Export collection"
- Press "Select fields"
- Deselect `_id`

Expecting JSON without `_id` fields
Actual: `_id` fields are exported

#### Code/Gist

#### Expected Behavior/Code

#### Environment

- node.js / npm versions: 14.16.0
- OS: macOS 11.4

[2021-07-07 14:00] Anemy commented on #2329
Hi @NeverwinterMoon - thanks for reporting this. We're tracking it in jira here: https://jira.mongodb.org/browse/COMPASS-4256 Hopefully we can get a fix out soon.

[2021-07-07 14:17] mcasimir commented on #2302
@mbrancato for your case (replica set moved to sharded cluster) If you haven't already tried it you could recreate the connection with the "New Connection" button.

It may happen that some of the state from the previous cluster got saved in the connection (along with the favourite / history entry) and is causing issues when connecting to the new cluster. In that case recreating the connection woul

[2021-07-08 15:58] mcasimir commented on #2323
Hi @BogdanDarius we are tracking this on https://jira.mongodb.org/browse/COMPASS-4928, the work for a fix has been partially done and will be released soon.

[2021-07-10 01:17] manudevcode opened #2340 "UI error on edit a document in JSON mode."
## Bug Report

#### Current Behavior

When you have two documents in edit mode and you update the first, the second marks as updated as well, even though you didn't click the save button for the second document.

#### Environment

- Compass Version 1.27.1 (1.27.1)
- OS: MacOs Big Sur

#### Possible Solution

Manage a separate state for editing each of the documents.

#### Additional Context/Screen

[2021-07-12 02:16] #1935 closed

[2021-07-12 02:17] Anemy commented on #1935
Resizable aggregation editors added in 1.26

[2021-07-12 15:53] Anemy commented on #2340
Hi - thanks for reporting this - good writeup and video too. I was able to reproduce. Here's a ticket in jira we can track it in:
https://jira.mongodb.org/browse/COMPASS-4941
I'll post back/close this when there's a fix out. Thanks again!

[2021-07-14 10:14] xxSkyy opened #2352 "Server record does not share hostname with parent URI"
## Bug Report

#### Current Behavior

From over 6 months I cant normally connect to mongodb atlas normally, it only happens on Macbook, I've got this error:
https://imgur.com/a/w4xtcuf
And only way I can connect are manual paste clicking `fill in connection fields individually` then turn off compass, turn on, try to connect normally, click individial fill and connect, this way I can.
I did update

[2021-07-14 10:51] addaleax commented on #2352
@xxSkyy What kind of deployment are you connecting to? This is tricky to debug without knowing the actual hostname in question or its SRV record.

Generally speaking, the error message in question occurs if the SRV record points to another domain than the SRV record itself, e.g. a `foo.mongodb.net` srv record cannot point to a host at `bar.google.com`.

[2021-07-14 11:51] xxSkyy commented on #2352
Its atlas connection copied from their recommended setting
`mongodb+srv://XXX:*****@XXX.b8gat.mongodb.net/`

[2021-07-15 15:59] mcasimir commented on #2323
Fixed in 1.28.1, feel free to reopen if upgrading does not solve the issue.

[2021-07-15 15:59] #2323 closed

[2021-07-15 15:59] mcasimir commented on #2320
Fixed in 1.28.1, feel free to reopen if upgrading does not solve the issue.

[2021-07-15 15:59] #2320 closed

[2021-07-15 16:14] addaleax commented on #2352
@xxSkyy Could you try to:

- Run `npx resolve-mongodb-srv <url>` where `<url>` is the srv url you are using and report back the result (with credentials removed, of course)?
- Run `nslookup -q=SRV _mongodb._tcp.<hostname>` where hostname is `XXX.b8gat.mongodb.net`

? That might help with debugging this :)

[2021-07-16 14:35] Anemy commented on #2230
@matonb Did it work out? Going to close this ticket for now, feel free to re-open.
We've updated the documentation on the main page now that the restructuring has completed, so it's a good place to find out how to get up and running now.

[2021-07-16 14:35] #2230 closed

[2021-07-16 17:43] DrakeAnglin commented on #2320
@mcasimir I Tried again today with the 1.28.1 update and i am still getting the timeout error. I rolled back to 1.26.1 and can connect immediately

[2021-07-20 03:16] ngohungphuc commented on #2068
I'm still waiting for m1 version :(

[2021-07-21 10:54] simon-bonnet commented on #2320
Likewise

[2021-07-23 09:15] Starystars67 opened #2364 "Feature Request: Add network statistics / Information to Compass."
## Feature Request
Please can you add a new tab to compass called network. Something like this:
![image](https://user-images.githubusercontent.com/15389482/126761071-e4f5ce64-5ed6-493e-ba92-a63de561aafe.png)

## Detailed Description
On this new tab/page it should display the information about the network such as if you are running a replica set, the status of each of the replica set nodes. which o

[2021-07-23 09:29] webjoyable opened #2365 "Connection failure, it just shows "Loading connection" with compass icon"
## Bug Report

#### Current Behavior

As I already wrote it's just stuck to loading screen when I try to connect. I reinstalled it twice, no change.
I'm connecting using a MongoDB Compass string generated on mongodb.com website

#### Code/Gist

#### Expected Behavior/Code

It should connect to the cluster

#### Environment

- node.js / npm versions:
- OS: Windows 10 21H1
- Compass Version: 1.28.1

[2021-07-23 09:31] addaleax commented on #2365
@webjoyable Can you share any more information about how you are trying to connect? E.g. whether you are connecting using a connection string, and if so, what format that has (minus credentials/actual host names of course), whether you are connecting using a SRV record, what your TLS settings are, etc.

Also, knowing the Compass version might be helpul here.

[2021-07-23 09:36] webjoyable commented on #2365
I manage to connect when I clicked "Favorite" icon before clicking on "Connect" button

[2021-07-23 09:41] webjoyable commented on #2365
My bad. It was my DNS server issue, when I changed back to "Obtain DNS server automatically" and flushed DNS, it works perfectly.

[2021-07-23 09:41] #2365 closed

[2021-07-29 01:43] alexanderkainsky opened #2371 "Is there a plugin for gridFS support?"
## Question

Is there a plugin that would support (at least) downloading files using the gridFS?

## Additional context

If there is not a compass plugin, is there an open-source GUI, web-based or desktop-based, that allows for this?

[2021-08-03 01:54] Anemy commented on #2098
@dutzi We've recently updated the way Compass is built and run locally (moved a number of the packages & plugins into this repo), now the changes that happen in this repo should be easier to deploy and build. If it's alright I'm going to close this issue - feel free to reopen!

[2021-08-03 01:54] #2098 closed

[2021-08-03 06:16] dutzi commented on #2098
That's great! I'll give it a try, thanks.

[2021-08-04 21:14] manudevcode opened #2384 "Feature Request: MacBook touch bar support"
## Feature Request
Touch bar support for macbooks

## Detailed Description

Add some actions on the macbook's touchbar like vs code

<img width="1004" alt="Captura de Touch Bar 2021-08-04 a la(s) 16 13 36" src="https://user-images.githubusercontent.com/11260098/128255709-3a1141cd-4180-457e-87e1-2f89fddadb3b.png">

[2021-08-06 11:41] bucibucii opened #2386 "Mongo Compass online request"
## Question
Why mongo compass is sending data to an online api call?

## Additional context

[2021-08-06 14:47] Anemy commented on #2386
Hi @bucibucii Compass uses a few online api calls for things like checking for auto updates, crash reports, telemetry, etc.
These can be viewed and disabled in the `Privacy Settings` tab:
<img width="390" alt="Screen Shot 2021-08-06 at 10 44 23 AM" src="https://user-images.githubusercontent.com/1791149/128528493-8719c6b0-cf10-4eef-85a0-17179b04f9eb.png">
<img width="610" alt="Screen Shot 2021-08-0

[2021-08-06 14:47] #2386 closed

[2021-08-14 12:34] tbhaxor opened #2394 "GUI Browser keeps on loading the collection"
## Bug Report

#### Current Behavior

On connecting to DB, the GUI browser stuck while performing query but aggregations are working fine. I have to then disconnect, reconnect to the same db and perform another query.

The same is happening with mongo sh.

I can only run one query either in the integrated terminal or the browser and then this issue occurs.

#### Code/Gist

_Perform simple find ope

[2021-08-14 12:35] tbhaxor commented on #2394
In this case, I had first perform findOne in the terminal and then later in the browser

[2021-08-14 17:33] Anemy commented on #2394
Hi @tbhaxor - a few questions to help us understand what's going on here so that we can hopefully fix. Is this with Compass 1.28.1? How many documents are in the collection? Do you have another connection you can try Compass with? Does it act the same then?
Thanks for reporting! Happy you were able to get it working with the beta.

[2021-08-16 00:12] tbhaxor commented on #2394
Yes. Please note in version 1.27.0,  it is working like a charm

14

Yes

[2021-08-17 14:05] xxSkyy commented on #2352
I think it's some problem of my mac, on other devices works fine and also on some other app I had hostname problems so I suppose its not issue for this place, anyway thanks for trying to help.

[2021-08-17 14:05] #2352 closed

[2021-08-29 14:22] TomAmpiath opened #2427 "Feature Request for adjusting font size of aggregation pipeline from a settings window"
## Feature Request

Currently, there is no provision to increase the font size of the text in aggregation pipeline. Pressing `Ctrl+` makes all fonts enlarged and does not provide good UX. It would be good to have a settings window, to adjust font size of different components separately.

## Detailed Description

Have a settings window to change the font size of different components of the compass

[2021-09-01 03:55] wildone commented on #1903
would be great to be able to run inside a docker stack :D will save a lot of holes in the stack :D

[2021-09-01 18:36] claytongulick opened #2434 "SSH Tunnel on Mac not working properly with OpenSSH private keys"
## Bug Report

Trying to use SSH Tunnel on Mac with OpenSSH private keys won't work, it results in this error: https://github.com/mscdex/ssh2-streams/issues/163

The problem is the parsing of the private key in BoringSSL. There's a fix available, but Compass would need to update ssh2-streams to the fixed version.

This will affect anyone who's (for example) using GCE - the keys generated by openss

[2021-09-05 16:22] jirikrepl commented on #2155
@addaleax I would be great to implement dark mode!

[2021-09-11 19:13] f11y11 opened #2452 "Bug Report: Exporting to JSON file Integer fields with large numbers change slightly"
## Bug Report

#### Current Behavior

Integer fields with large numbers change slightly upon exporting to a JSON file

#### Expected Behavior/Code

Exported JSON document should not have changed integer fields

#### Environment

- node.js / npm versions: node: 12.18.4 npm: 6.14.6
- OS: Windows 11

[2021-09-23 16:36] kevin-mitchell commented on #1977
This caught me up as well today. 👍

[2021-10-05 14:58] Anemy commented on #2300
Here's this feature in our feedback portal: https://feedback.mongodb.com/forums/924283-compass/suggestions/39739636-allow-dates-to-be-viewed-in-local-time-instead-of
It allows for upvoting so we can get a better sense of how many users are interested in the feature.

Thanks for reporting! Hopefully we can get around to this soon.

[2021-10-18 13:04] guludo opened #2518 "Allow defining variables in aggregations tab"
## Detailed Description

It would be nice if there was a way to define variables to be used in different stages of the pipeline. They would differ from mongo's notion of variables in a pipeline: they would be values that would be used from variables from the programming language using the pipeline.

- When creating/editing the pipeline, the user can define values for such variables, which would be

[2021-10-18 14:30] travis5491811 opened #2520 "Custom favorites name is displayed as "Local" after connecting to remote"
## Bug Report

#### Current Behavior

After following the steps defined [here](https://docs.mongodb.com/compass/current/connect/favorite-connections/) for naming favorites, the name is saved. But after I close everything and open compass and connect to the named favorite connection, the name displayed is the default "Local". If I go and rename "Local" after I've connected, the system creates a sec

[2021-10-20 00:49] Anemy commented on #2520
Hi @travis5491811 - just some context - we're currently in the process of updating the way we store, load, and use connections in Compass. I haven't been able to reproduce, but this issue should go away in the next release or two.

[2021-11-12 19:13] Anemy commented on #2014
@steffanhalv In the recent release https://github.com/mongodb-js/compass/releases/tag/v1.29.4 `1.29.4` we've added this feature so that Compass opens a new window when it's clicked in the dock and there are no open windows. Thanks to @gribnoysup for the fix!

Thanks for opening the issue! Feel free to reopen if you update and it doesn't work as expected.

[2021-11-12 19:13] #2014 closed

[2021-11-12 19:14] Anemy commented on #2096
Hi @RohanTalip In the recent release https://github.com/mongodb-js/compass/releases/tag/v1.29.4 `1.29.4` we've added the ability to resize the sidebar by dragging.

Thanks for opening the issue! Feel free to reopen if you update and it doesn't work as expected.

[2021-11-12 19:14] #2096 closed

[2021-11-13 07:34] herberthobregon opened #2587 "Collection menu item is not showing up in MacOS"
## Bug Report
Collection menu item is not showing up in MacOS
#### Current Behavior
v.latest
![image](https://user-images.githubusercontent.com/6503845/141610495-aaa903e7-6376-4c1d-b692-8672dd257d3c.png)

![image](https://user-images.githubusercontent.com/6503845/141610479-1f00de23-0840-46cd-ad23-ceecfac45bb3.png)

#### Environment

[code]

#### Possible Solution

Downgrade version

#### Additiona

[2021-11-13 11:01] gribnoysup commented on #2587
Thanks for the report @herberthobregon, I can confirm that the issue exists and opened a JIRA ticket where you can track the progress for the fix https://jira.mongodb.org/browse/COMPASS-5290

[2021-11-15 14:18] #2587 closed

[2021-11-15 18:41] lagc03 opened #2590 "Current topology does not support sessions. When connecting to old standalone 2.4."
## Bug Report

#### Current Behavior

When fetching documents from a collection, the GUI just displays the following error:
Current topology does not support sessions.

#### Code/Gist

#### Expected Behavior/Code

Display the documents regardless of the topology.

#### Environment

- node.js / npm versions: n/a
- OS: WIndows 10
-  MongoDB Compass: 1.29.4

#### Possible Solution

DO not enforce top

[2021-11-15 19:32] addaleax commented on #2590
That sounds like the right solution here, tbh. MongoDB 2.4 has been unsupported for a very long time, and we probably wouldn’t fix bugs that only reproduce with versions that old.

[2021-11-16 06:11] ToTheHit commented on #2590
Same problem with MongoDB 3.4.9

[2021-11-16 11:08] gribnoysup commented on #2590
Hey @ToTheHit, Compass requires your MongoDB version to be [at least 3.6 to work properly](https://docs.mongodb.com/compass/current/install/#software-requirements). We are not trying to break compat for the older versions on purpose, but as @addaleax mentioned above, we are not planning to maintain compatibility with these versions forever, so you should expect some things to now work property. If

[2021-11-16 11:08] #2590 closed

[2021-11-18 04:54] saurikCornel opened #2597 "Apple M1 problems"
Version 1.17 works nice, but all new versions freezes as hell on apple silicone when i hiding a window. Now I downgraded to 1.17 and everything ok.  Is there any plan to build native arm version for Mac? Thank you!

[2021-11-18 10:53] hensansi opened #2598 "Collections fail to load on the serverless databases"
I'm creating an issue on github so others are aware.
https://jira.mongodb.org/projects/COMPASS/issues/COMPASS-5305

## Bug Report

#### Current Behavior

When accessing the documents through the collections UI the loader gets stuck. This only happens with [serverless databases](https://www.mongodb.com/cloud/atlas/serverless).

Querying through the shell works.

#### Expected Behavior/Code
The docu

[2021-11-19 18:15] Anemy commented on #2598
Here's an updated ticket number https://jira.mongodb.org/browse/COMPASS-5299

1.29.5-beta.5 is out with a fix: https://github.com/mongodb-js/compass/releases/tag/v1.29.5-beta.5
This fix will be in the next release.
Thanks for opening the issue!

[2021-11-22 10:00] hensansi commented on #2598
Yup, I can confirm it is working on the 1.29.5-beta.5

[2021-11-22 10:00] #2598 closed

[2021-11-23 21:05] matthew-b-payne commented on #2590
Our version is 3.6.6.  We get this error as well.  According to your message it should work with 3.6?

![image](https://user-images.githubusercontent.com/1139755/143125154-c2ec163c-2aed-42c7-962a-295748953593.png)

[2021-11-25 13:52] lorand-horvath opened #2616 "Windows 7 support for Compass 1.29.5"
First of all, I'd like to thank the MongoDB team behind the amazing piece of software that Compass proves to be!

I have noticed that the latest version of Compass 1.29 has Electron updated to v13 and Node.js to v14, reference:
https://github.com/mongodb-js/compass/releases/tag/v1.29.4

I am currently using the previous minor version 1.28.4 on Windows 7 x64 (which was built with an older version o

[2021-11-26 12:20] gribnoysup commented on #2616
Hey @lorand-horvath, we're happy to hear that you seem to be enjoying using the Compass app!

The application itself is built on Electron, not Node.js and even though they both use the same v8 engine, they are not exactly the same runtimes. So even though Node.js doesn't support Windows 7 anymore, Electron does support [Windows 7](https://www.electronjs.org/docs/latest/tutorial/support#windows).

[2021-11-26 13:27] lorand-horvath commented on #2616
@gribnoysup Thanks for the detailed explanation, it was confusing to see Node 14 mentioned in the Compass 1.29 release notes, alongside the new Electron 13 version update. Node 14 won't install on Windows 7 by default, though there are solutions to force it...

[2021-11-29 15:32] lorand-horvath commented on #2616
Upgraded 1.28.4 to 1.29.5 without issues on Win 7 x64, seems to be working faster... though Windows Firewall asks permissions for some new service related to MongoDB Compass... very strange.

[2021-11-30 14:56] #2616 closed

[2021-11-30 15:00] Anemy commented on #1992
Hi @szygendaborys - thanks for reporting, and sorry for the late reply on this. If you update to the [newest version of Compass](https://github.com/mongodb-js/compass/releases) (1.29.5 at the time of writing) this issue has been fixed. Thanks for using Compass and helping improve it!

[2021-11-30 15:00] #1992 closed

[2021-12-03 03:24] yurtaev commented on #2590
The same issue on mongo v3.6

![CleanShot 2021-12-03 at 11 22 57](https://user-images.githubusercontent.com/444503/144539743-903e3405-d2dc-438e-8ae5-085829a4441f.jpg)

[2021-12-08 08:03] tanmaybhatt commented on #2590
Worked after downgrading to 1.26.0

[2021-12-08 08:35] gribnoysup commented on #2590
@matthew-b-payne @yurtaev can you check what feature compatibility version your server is configured to? You can do it with `getParameter` command:

[code]

And if it's less than 3.6, you can switch it with [`setFeatureCompatibilityVersion`](https://docs.mongodb.com/manual/reference/command/setFeatureCompatibilityVersion/) command

[2021-12-08 16:56] jcrochet-24s commented on #2590
Same with DocumentDB 3.6 hosted on AWS.
Downgrading to 1.28.4 solve the problem.
![image](https://user-images.githubusercontent.com/88405572/145250211-a5bae941-f543-484c-8059-c5ad941f30fc.png)

[2021-12-09 09:34] gribnoysup commented on #2590
[DocumentDB doesn't seems to support](https://docs.aws.amazon.com/documentdb/latest/developerguide/mongo-apis.html#mongo-apis-dababase-sessions) starting sessions in their 3.6 version

[2022-01-13 13:55] tomsturge opened #2682 "MacOS app not notarised"
## Question

My company is CyberEssentials and ISO27001 certified and have to be compliant with some security requirements. The Compass app isn't notarised and this means we can't use the app for our DB on Mongo Atlas. When will this be resolved?

[2022-01-13 13:59] addaleax commented on #2682
@tomsturge Can you specify the exact file you are downloading (incl. URL)? All recent versions of Compass should be properly signed and notarized.

[2022-01-13 18:17] tomsturge commented on #2682
We have a version from Oct 2021 in our self service software portal, will try updating it to see if the problem persists and get back to you

[2022-01-19 09:01] ingles98 opened #2699 "No longer supports legacy MongoDB v3.4"
After the latest updates I can no longer connect via Compass to any 3.4 MongoDB Community Servers at all. Was this intended ? I couldn't find anything regarding this on the changelogs.

[2022-01-19 16:44] Anemy commented on #2699
Hi @ingles98  Compass requires your MongoDB version to be at [least 3.6 to work properly](https://docs.mongodb.com/compass/current/install/#software-requirements). We are not trying to break compat for the older versions intentionally, but we are not planning to maintain compatibility with these versions forever, so you should expect some things to not work property. If you want to continue using

[2022-01-19 16:44] #2699 closed

[2022-02-02 10:15] philstussak opened #2748 "Incorrect amount of documents (and potentially storage size) shown for archive collections"
Hi all,

When using Compass to show statistics about my Atlas Online Archive, the amount of documents shown does not match the amount of documents retuned by `db.collection.countDocuments()`. Also as seen below, storage amount also seems to be inconsistent (but I can't really prove this).

### Setup
- MongoDB Atlas Cluster (Mongodb version 4.4.12, Cluster Tier M60) with activated online archive fo

[2022-02-07 15:59] Anemy commented on #2748
Hi Philiipp,
What's happening here is that Online Achive caches responses to `collStats`. Compass uses `collStats` to show the estimated document count and storage size you're seeing on the collections page. So this behavior is expected since the TTL of the cache is 7 days.
If you'd like to fetch the `collStats` information and bypass the cache you can append the `sync: true` option to the functio

[2022-02-08 08:45] philstussak commented on #2748
Thanks for your response! Using `collStats` with `sync: true` is working perfectly, thanks for the hint on that. Feel free to close this issue whenever you want - from my side its fine :)

[2022-02-08 20:24] Anemy commented on #2127
Hi @meryacine sorry for the late reply, this is fixed in Compass - thanks again for reporting it!
<img width="1039" alt="Screen Shot 2022-02-08 at 3 23 02 PM" src="https://user-images.githubusercontent.com/1791149/153069412-7bf382a4-0e81-4181-a1bd-bc1a6b88ea2c.png">
For reference the release of Compass this fix landed in was 1.26.1

[2022-02-08 20:24] #2127 closed

[2022-02-08 21:56] Anemy commented on #2597
Hi @saurikCornel can you confirm if this still persists in the latest beta? (1.31.0-beta.6 at the time of writing)
https://github.com/mongodb-js/compass/releases

We've got access to an m1 and aren't seeing this behavior. Are you trying a version after 1.29.4? That was when we updated electron to 12, which probably fixed this.

[2022-02-09 07:49] behofer opened #2776 "Accessibility: Compass not properly working for all screenreader or keyboard-only users"
## General description
Visually impaired users like myself rely on a screenreader to have information read by a speech synthesizer or displayed on a braille display. Popular screenreaders are VoiceOver on Mac OS as well as JAWS and NVDA on Windows or Orca on Linux Desktop.
Currently a screenreader isn't able to work properly with MongoDB Compass.

## Steps to reproduce
* Download or use a free scr

[2022-02-09 18:17] Anemy commented on #2097
Created a ticket to track this: https://jira.mongodb.org/browse/COMPASS-5499
We might not expose this functionality in the sidebar panel for the sake of visual space, but it definitely does make sense for folks to be able to independently text search collections and databases, it just may be on the databases and collections views.
Thanks for bringing this up! (And sorry for the late response).

[2022-02-10 14:29] Anemy commented on #2384
Hi @manudevcode if it's alright with you I'm going to close this since the newer macs don't have touchbar support it's probably not worth spending too much time implementing support.

[2022-02-10 14:29] #2384 closed

[2022-02-18 15:01] RaresAil opened #2806 "Not starting on M1 Pro"
## Bug Report

#### Current Behavior

When I open the application with a double click I get the error:
[code]
And if I open the app form terminal, I get:
[code]

#### Environment

- NodeJS: 17.5.0
- OS: OSX 12.2.1

#### Additional Context/Screenshots

<img width="499" alt="image" src="https://user-images.githubusercontent.com/47503490/154707332-e3497610-38fd-4c16-a457-decb0cabe2b9.png">

[2022-02-18 15:12] #2806 closed

[2022-02-18 15:12] RaresAil commented on #2806
It looks like after a system restart it is working 😅

[2022-02-18 22:40] apank opened #2810 "Bug Report: $unset's comment and snippet to not be misleading"
I made a pull request last year to fix the issue but it still hasn't been merged

https://github.com/mongodb-js/ace-autocompleter/pull/114

[2022-02-20 10:20] RohanAntony opened #2812 "Initial setup fails for node 16 and npm 8 versions"
## Bug Report
npm run bootstrap and also npm install fails on windows.

#### Current Behavior
![image](https://user-images.githubusercontent.com/5779016/154836985-a3fb9c6c-8650-467c-b2a1-3899687d8875.png)
Package.json file mentions the version as
"engines": {
  "node": ">=14.17.5",
  "npm": ">=7.16.0"
},

I tried using nvm for windows to downgrade node to 15 and npm to 7. Still seeing the same err

[2022-02-20 10:25] RohanAntony commented on #2812
The official version [index.json](https://nodejs.org/dist/index.json) used by nvm doesn't support npm v7 with node v14. Also, `npm install --ignore-engines` fails too.

[2022-02-20 16:53] Anemy commented on #2812
Hi @RohanAntony thanks for checking out the project, is it possible to use nvm to go to node v14 and then use `npm install -g npm@7` to get npm to the correct version? Let me know if that works for you!

[2022-02-20 16:53] #2812 closed

[2022-02-24 01:27] Anemy commented on #2810
🔥 Thanks for the ping! Just merged in your fix. Will be in Compass in the next release (or the one after this current beta hits GA).

[2022-02-24 01:27] #2810 closed

[2022-02-24 17:55] HawkAPFM opened #2836 "Bug Report 1-30.1 Validation tab shows nothing"

[2022-02-24 18:34] Anemy commented on #2836
Hi @HawkAPFM - I haven't been able to reproduce this, could you share your logs (be sure to retract any sensitive information) or any other information for us to help debug the issue?
<img width="276" alt="Screen Shot 2022-02-24 at 1 31 37 PM" src="https://user-images.githubusercontent.com/1791149/155585646-cdcae401-7096-451c-b900-243b3ab2aa90.png">

<img width="667" alt="Screen Shot 2022-02-24 at

[2022-03-02 16:26] #2597 closed

[2022-03-03 10:29] LinusU commented on #2068
@Anemy I believe that this issue is asking for _native_ M1 support, it seems like `darwin-x64` packages attached to the linked release?

If you're on a recent version of Electron, it should be easy to do that as well. I'm not familiar with the Hadron build tools, but in e.g. electron-packages and Electron Forge you can pass in `--arch=arm64` when you build.

[2022-03-03 14:39] hypnoseal commented on #2138
It has been a year since this issue was raised. Is there an update regarding progress for Compass support of Polygons or on updating the docs to be clear that this functionality only works with points? Thank you.

[2022-03-03 16:44] mcasimir commented on #2320
@DrakeAnglin @simon-bonnet we just released https://github.com/mongodb-js/compass/releases/tag/v1.31.0-beta.11 that contains a giant rework of the connectivity layer, please let us know if you still encounter issues with this version.

[2022-03-03 21:07] AbdullahDiaa commented on #2068
Yep, it seems there's only `darwin-x64` packages attached to the release.
the application uses rosetta 2 translation layer on M1 macs.
![Screen Shot 2022-03-04 at 12 06 50 AM](https://user-images.githubusercontent.com/733794/156652995-8b3553c3-2ad9-4078-87cd-fe757fda11bc.png)

[2022-03-21 16:49] slarti-b commented on #2027
@Anemy : Can you specify even which connection to use from the command line?

I found the files in AppData.  I took an existing one as a template and created a new one with my script (I want a script that creates a tunnel then opens the connection all in one).  I generated new UUID and used it for both filename and _id, and set connection params but left the rest alone. It does not even see the ne

[2022-03-21 17:39] Anemy commented on #2027
@madansu Apologies for missing your message above, somehow the notification must have slipped me. Really sorry.
For anyone stumbling upon this issue here's where they're stored as of now:

Windows: %APPDATA%\Roaming\MongoDB Compass\Connections
Windows: C:\Users[user-name]\AppData\Roaming\MongoDB Compass\Connections
Mac OSX: /Users/[userid]/Library/Application Support/MongoDB Compass/Connections
Li

[2022-03-22 03:29] Anemy commented on #2748
Thanks - a ticket was opened up on this in jira so we can track it there: https://jira.mongodb.org/browse/COMPASS-5353

[2022-03-22 03:29] #2748 closed

[2022-03-22 08:45] slarti-b commented on #2027
@Anemy : thanks for the paths.

In terms of my approach, no, that's not really what I'm trying to do.  I do _not_ want to use a tunnel built in to Compass.  We have an external application that creates the tunnels.  With that I can either create a tunnel or get an SSH connection, etc.  I have a number of helper scripts for specific applications that create the tunnel and launch the relevant client

[2022-03-22 08:57] slarti-b commented on #2027
Also, log file shows nothing relevant
[code]

[2022-04-01 05:33] VSDash opened #2936 "Allow contribution on saved aggregations"
## Feature Request
Shared aggregation pipelines

## Detailed Description
It often happens that the query that i make is also need by other devs working on same db for maybe future reference or improvement purposes.
If it is possible can these aggregation be saved in db itself when user wishes to make them public and then it could be edited by anyone connected to same db via compass.

## Context
-

[2022-04-01 16:31] Anemy commented on #2936
Hi @VSDash - while we don't have support for sharing pipelines in that capacity yet, views may provide a good way to share and collaborate on a pipeline as they are stored on the database. They can be created in the aggregation view here:
![Screen Shot 2022-04-01 at 12 22 53 PM](https://user-images.githubusercontent.com/1791149/161303581-486cfeb4-3aa7-4a5f-89ae-1f7893c6ce31.png)
If it's alright wi

[2022-04-01 18:36] Anemy commented on #2394
@tbhaxor We've just released 1.31.0 which has a number of improvements in Compass and we've also removed the loading overlay that used to show. If it's alright with you can you see if this new version fixes the issue?
https://www.mongodb.com/try/download/compass
https://github.com/mongodb-js/compass/releases
We've also improved our log reporting in Compass so if you open logs here:
<img width="553

[2022-04-01 18:43] Anemy commented on #1880
Pinging folks that have commented: @Kadrian  @JasonDepp @Tofandel @antpaw @mshedsilegx
We've just released a new version of Compass, `v1.31.0`, with a number of improvements for connectivity and how we build, save, and load connections. This issue with settings not persisting should be fixed with the changes.
https://www.mongodb.com/try/download/compass
https://github.com/mongodb-js/compass/releas

[2022-04-01 18:43] #1880 closed

[2022-04-02 10:29] #2394 closed

[2022-04-05 12:52] dropocol opened #2946 "Document keys are partially hidden."
## Bug Report

#### Current Behavior

The keys are not fully visible and show dots instead.
![image](https://user-images.githubusercontent.com/11982876/161756818-1c3f03b8-072f-4b51-8fc1-a4d715d52a5c.png)

I have tried reinstalling but it's still the same. Zoom-in, Zoom-out doesn't work either.

[2022-04-05 13:08] addaleax commented on #2946
Hi @dropocol!

This seems a lot like https://jira.mongodb.org/browse/COMPASS-5361, which was fixed in Compass 1.31.0. I’d recommend you double-check:
- That you are using the latest version of Compass
- That the field names are not *actually* stored with ellipses in the database, e.g. by cross-referencing with a shell (mongosh) query or by running schema analysis in Compass.

[2022-04-05 17:20] dropocol commented on #2946
Hi @addaleax , Thanks for the update.

I am currently on 1.31.1 so it's the latest version. Also checked the data in mongosh and it looks fine. Any other suggestion to solve this issue?

<img width="461" alt="image" src="https://user-images.githubusercontent.com/11982876/161813791-e5b4caba-79ca-4509-af98-43076a7a410e.png">

[2022-04-05 19:16] Anemy commented on #2946
Hi @dropocol , I haven't been able to reproduce with similar data,
![Screen Shot 2022-04-05 at 3 05 48 PM](https://user-images.githubusercontent.com/1791149/161831943-f012458d-fa72-4840-bac4-c1ab392a76ff.png)
![Screen Shot 2022-04-05 at 3 09 27 PM](https://user-images.githubusercontent.com/1791149/161831944-752e3b7a-dc9b-4cd9-997e-59b2b9bbf6d5.png)
Which OS are you using Compass on? Are you using

[2022-04-05 19:17] dropocol commented on #2946
A temporary solution that I've found

1. Open the Dev Tools by pressing `option + cmd + I` or go to `view -> Toggle DevTools`
2. Click on any of the arrow icon in the image below.
![image](https://user-images.githubusercontent.com/11982876/161831826-43cf43e3-5173-4c82-af99-1325552f7992.png)

3. Select any of the element that has a hidden data on it.
4. It will have a class similar to `leafygreen-u

[2022-04-05 19:20] dropocol commented on #2946
Hi @Anemy , I am on MacOS Monterey 12.1. The compass version that I have installed is 1.31.1 and I am not using any custom fonts.
![image](https://user-images.githubusercontent.com/11982876/161832950-cc5e2e2b-d309-44a7-abac-b6ef9b73bee2.png)

[2022-04-05 21:16] Anemy commented on #2520
@travis5491811 Should be fixed in 1.31.0 - thanks for reporting the issue! Going to close this, feel free to open if you upgrade and you're still seeing `Local` after you've saved a connection with a name.

[2022-04-05 21:16] #2520 closed

[2022-04-05 21:19] Anemy commented on #2302
Pinging folks involved @Treize2 @mbrancato
We've just released a new version of Compass, v1.31.0, with a number of improvements for connectivity and how we build, save, and load connections. You can download it here:
https://www.mongodb.com/try/download/compass
https://github.com/mongodb-js/compass/releases

This issue with the connection not persisting properly should be fixed with the changes -

[2022-04-05 21:19] #2302 closed

[2022-04-05 21:27] Anemy commented on #2329
Hi @NeverwinterMoon, We've just release 1.31.1 with a fix for this issue. You can download it here:
https://www.mongodb.com/try/download/compass
https://github.com/mongodb-js/compass/releases
Please feel free to reopen the issue if you update and this is still happening. Thanks again for reporting the issue and helping improve Compass!

[2022-04-05 21:27] #2329 closed

[2022-04-05 22:24] NeverwinterMoon commented on #2329
Yes, I've already tried it out and it works like a charm. Thank you!

[2022-04-06 08:11] Sebs030 opened #2953 "Compass Ui doesn´t show DB after ATLAS upgrade to 5.0.6"
When connecting to an Atlas hosted MongoDB the compass UI no longer shows the DB and the collections.
![image](https://user-images.githubusercontent.com/29453191/161926908-e2b574d6-9e3f-4a9d-84b6-ab94b07f8e1d.png)

This happened after MongoDB was upgraded to 5.0.6
In the mongoshell I can run `show collections` and the Collections of the DB will be listed:
<img width="1503" alt="image" src="https:/

[2022-04-06 16:05] skasyn commented on #2953
I have the same issue.
<img width="572" alt="image" src="https://user-images.githubusercontent.com/38563623/162018382-039bac72-726e-4521-ba80-821d92786cf6.png">

Operating System: macOS Monterey 12.1
Compass Version: 1.30.1

[2022-04-06 16:11] Henrixounez commented on #2953
Same problem here. Tried to run `show dbs` or `show databases` but it gives me an error but I don't know if that's regular behavior or not.

<img width="733" alt="image" src="https://user-images.githubusercontent.com/30901439/162019368-e2419974-4b4d-4748-b073-e2bc2bdf9d8a.png">

Operating System: macOS Monterey 12.1
MongoDB Compass Version: 1.31.1

[2022-04-06 16:16] Anemy commented on #2953
Hi @Sebs030 , thanks for reporting. A couple questions if you have a moment to help us understand the issue:
What permissions does the user you're connecting with have?
Is the user able to `listDatabases` in the shell?

I think this is the same issue we have reported on JIRA: https://jira.mongodb.org/browse/COMPASS-5691
We'll use that to track the issue and we'll comment back here when we've got s

[2022-04-06 17:27] Sebs030 commented on #2953
@Anemy , that´s interesting, so `show dbs` does not work, but `db` works. I actually did not change the connection string, it stopped working from one day to the other:
![image](https://user-images.githubusercontent.com/29453191/162031366-a208a3ec-ad7c-44d3-aa5f-16f7bfc8d590.png)

The user for the connection String has readWrite access and even after adding dbAdmin rights I still get the above err

[2022-04-07 00:01] abdudsoul opened #2960 "_id Type being changed to int32 after editing via json if it was initially inserted as int64"
Only since the latest GUI Update: When you edit the document via json editor, if the _id field type was int64, changing any field in the Json View Editor will cause the _id field type to change to int32.

When viewing the document via JSON Viewer the int64 _id field is being represented like:
{
"_id": 3
}

however in the previous version you could specify that it is int64 with this:
{
"_id": {

[2022-04-07 00:07] ToxicLand commented on #2960
Same issue here

[2022-04-07 10:52] Sebs030 commented on #2953
Thanks @Anemy . What i could figure out from the fix above as a somewhat workaround, for the time being, is to provide the user the build-in role "read and write to any database" in the Atlas UI. It is then possible to connect with the Compass UI, but of course only an option for dev environments due to sec issues

[2022-04-07 13:48] addaleax commented on #2960
@ToxicLand @abdudsoul Can you share screenshots of what exactly you are doing? In particular, the error message and the before/after state in the JSON viewer?

[2022-04-08 01:43] ToxicLand commented on #2960
@addaleax Sure. This first image shows that in the default view, _id type is Int64. https://i.imgur.com/uVVdUqV.jpg
The second one shows the value of region, this is what I'm going to change to something different, using the json editor view (any change will trigger the bug) https://i.imgur.com/lYJqoZD.jpg
The third image shows that the type of _id has changed to Int32. This causes problems with m

[2022-04-08 13:07] addaleax commented on #2960
Thank you for bringing this up! I’ve opened https://jira.mongodb.org/browse/COMPASS-5711 (and the related, also regressed https://jira.mongodb.org/browse/COMPASS-5710) to track this.

[2022-04-09 16:35] anubhab-parallel-reality commented on #2953
Facing the same issue with Win 10 + Compass 1.13.1, and providing `read` permission on the `admin` DB listed all the DB present, but only listed collections of the DBs in which `read`, `readWrite` or `dbAdmin` permissions are given. `admin` is the mongo authentication DB.
This only happened once, on disconnecting and connecting again, it only shows `admin` DB with nothing in it.

[2022-04-11 13:45] Anemy commented on #2953
We have a new beta published which has a partial workaround for this issue. `v1.31.2-beta.5`
If you have a moment please give it a try and let us know if it fixes what you were running into! We'd like to get this in a GA release early this week.
You can find a download it here:
https://www.mongodb.com/try/download/compass
https://github.com/mongodb-js/compass/releases

I'll post here as well when

[2022-04-11 16:34] vviotto commented on #2953
As a workaround, you can create a custom role with the 'listDatabase' permission and assign this role to the user connecting via compass, this may not be feasible for everyone because this user will be able to see all of the existing databases.

[2022-04-12 05:59] miso419 opened #2974 "An error occurred while rendering ConnectedDocumentList: Argument passed in UUID constructor must be a UUID, a 16 byte Buffer or a 32/36 character hex string (dashes excluded/included, format: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)"
## Bug Report

#### Current Behavior
With the latest Compass 1.31.1, it always throws `An error occurred while rendering ConnectedDocumentList: Argument passed in UUID constructor must be a UUID, a 16 byte Buffer or a 32/36 character hex string (dashes excluded/included, format: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)` on any tabs (Documents, Aggregations, etc.). It worked with 1.28.x.
<img width="1

[2022-04-12 06:51] gribnoysup commented on #2974
Hi @miso419, thanks for reporting the issue! Does it happen when you open a particular collection? Can you share UUID of some documents so we can try and reproduce the problem?

[2022-04-12 11:22] hmz22 opened #2977 "Feature Request: change sidebar background color for remotely connect"
## Feature Request

change sidebar background color for  remotely connect

## Detailed Description

When connect to database with other connection expect localhost change sidebar background color

## Context

Because confused when  local and server and maybe change record or update object and conflict on my server.

## Possible Implementation

[2022-04-12 15:17] addaleax commented on #2960
This should be fixed in the next release, thanks for reporting!

[2022-04-12 15:17] #2960 closed

[2022-04-12 15:49] Anemy commented on #2977
Hi @hmz22 - I think this feature request is something that's probably better on our feedback forum: https://feedback.mongodb.com/forums/924283-compass
The feedback forum allows for upvoting so we can get a better sense of how many folks are interested in a feature and when to prioritize it.
If it's alright with you I'm going to close this ticket. Have you tried updating the favorite name of the co

[2022-04-12 18:46] Anemy commented on #2974
I think this is due to previous versions of Compass more gracefully handling binary data that has the UUID type but doesn't match the proper format: https://www.mongodb.com/docs/manual/reference/mongodb-extended-json/#mongodb-bsontype-Binary
As UUIDs can exist in the database in a format that the `bson` package throws an error parsing I think we probably want to be a bit more permissive here and a

[2022-04-13 08:37] #2974 closed

[2022-04-14 15:28] Anemy commented on #2953
Hola folks! We've just released a new Compass version `1.31.2` with a fix for this issue.
It's available for download here:
https://www.mongodb.com/try/download/compass
https://github.com/mongodb-js/compass/releases

While this fix will cover most general use cases, this is a partial workaround. This is partial because, without being able to retrieve the privileges for a certain user, we can curre

[2022-04-14 20:08] Anemy commented on #2452
Hi @f11y11 - thanks for reporting this issue. We've included a fix in the most recent release `1.31.2`
It's available for download here:
https://www.mongodb.com/try/download/compass
https://github.com/mongodb-js/compass/releases
For book keeping here's a jira ticket we used for tracking this fix: https://jira.mongodb.org/browse/COMPASS-4694

Going to close this, feel free to reopen if the issue pe

[2022-04-14 20:08] #2452 closed

[2022-04-14 20:15] Anemy commented on #2340
Hi @manudevcode - we've included a fix for this in the most recent release `1.31.2`. Going to close this, feel free to reopen if you upgrade and the issue persists.
Thanks again for reporting this and helping improve Compass!

[2022-04-14 20:15] #2340 closed

[2022-04-15 08:34] MuthSW opened #2993 "Aggregations preview is limited to 150px height"
## Bug Report
When writing an Aggregation, the preview output (Output after ... stage) has a fixed limit of 150px, even if there is more space available.
(eg: stage-editor-module-stage-editor-container__2z3c3 has a size of 388x1581)

This was working in an older version (think, from half a year ago), but not with 1.31.1 & 1.31.2

#### Environment
- OS: Ubuntu 20.04

#### Possible Solution

my work

[2022-04-15 11:33] ToxicLand commented on #2960
@addaleax I just installed the latest release that fixed the type changing itself upon modifying the document, but if I want to change existing (affected by the bug) documents from Int32 to Int64 using the default view, I still get a "Plan executor error during findAndModify :: caused by :: Performing an update on the path '_id' would modify the immutable field '_id'".  Currently the workaround fo

[2022-04-15 21:42] Anemy commented on #2102
Hi @Astronought we've included a fix for this issue in the most recent release `1.31.2`
![Screen Shot 2022-04-15 at 5 42 27 PM](https://user-images.githubusercontent.com/1791149/163635462-2080c4e2-9d0c-4ec7-a7bc-6304638f07b2.png)

It's available for download here:
https://www.mongodb.com/try/download/compass
https://github.com/mongodb-js/compass/releases
Going to close this, feel free to reopen if

[2022-04-15 21:42] #2102 closed

[2022-04-17 03:06] TylerL19 opened #2994 "Don't see connections on Recents"
## Bug Report

#### Current Behavior

When I connect a database on Azure CosmosDB and I disconnect it. I don't see the connection on Recents.

#### Expected Behavior/Code

I will see the connection on Recents

#### Environment

- OS: macOS 12.3.1 - Apple Silicon Chip

[2022-04-18 17:47] Anemy commented on #2994
Hi @TylerL19 it looks like the default connection string Azure Cosmos DB supplies to users is in a format which contains unescaped characters in the `password` and `appName` (in mine it was the `=` key in the password and the `@` key in appName).
If you enter the password and appName in using the connection form in the `Advanced Connection Options` dropdown it should automatically escape these cha

[2022-04-18 17:58] Anemy commented on #2993
Hi @MuthSW Thanks for reporting this issue, definitely looks like a new bug. Sorry for the inconvenience, hopefully we can get a fix out soon.
I've created a ticket in jira to track a fix: https://jira.mongodb.org/browse/COMPASS-5746
We'll post back here when there's an update.

[2022-04-19 11:33] MuthSW commented on #2993
Great, thx.

[2022-04-19 11:40] addaleax commented on #2960
@ToxicLand Yeah, that is honestly kind of expected, even if it might not be obvious why :confused: The table and “normal” document view use [`findOneAndUpdate`](https://www.mongodb.com/docs/manual/reference/method/db.collection.findOneAndUpdate/) for changing a document, where `_id` is really immutable. Due to the way the JSON view/editing works, we can’t (easily) do the same there, we use [`findO

[2022-04-21 03:47] RealMuDao opened #3009 "The _MONGOSH in version 1.32.0 can not prompt for info."
I have to spell every letter.

[2022-04-21 04:07] Anemy commented on #3009
Looks like we've got a ticket in jira to track this bug: https://jira.mongodb.org/browse/COMPASS-4760
We'll post back here when there's an update. Thanks for reporting!

[2022-04-21 05:32] RealMuDao commented on #3009
Thank you very much!

[2022-04-21 13:19] azmhyy2021 opened #3012 "Timezone setting to display date in UTC datatype in local time zone"
## Feature Request
Timezone setting to display date in UTC datatype in local time zone

## Context
It's great feature that MongoDB forces the users to use UTC timezone for the database settings,
however on the Compass, I need to calculate the time to know the local time from the date in UTC data type always.
It's annoying and sometimes make a mistake when I make a decision.
So, I request the above

[2022-04-21 16:44] Anemy commented on #3012
Hi @azmhyy2021 - thanks for the good suggestions. I think that's something we'd like to implement.

A bit of context, we're looking into adding some more general settings controls for Compass and I think this would likely land after we have that customizing settings ability.

Going to close this issue as a duplicate if that's alright, we have https://github.com/mongodb-js/compass/issues/2300 alrea

[2022-04-21 16:44] #3012 closed

[2022-04-23 15:00] G-Ray opened #3019 "Consider publishing the app to flathub.org"
On Linux, in order to easily install the application and get automatic updates, consider distributing MongoDB Compass as a [flatpak](https://flatpak.org/) package to [flathub.org](https://flathub.org).

Relevant documentation : https://github.com/flathub/flathub/wiki/App-Submission

This could be a task for external contributors if you need to focus on the current package distribution process.

[2022-05-10 14:51] Anemy commented on #1949
Hi @HeberLZGlobant - looks like this issue was fixed in the `1.22` release for JSON imports. Going to close this if that's alright, feel free to reopen if you update and it's not working as expected. Thanks again for reporting!
For a bit more context we are planning to improve the entire import/export experience in the coming months. (apologies for getting back late on github on this)

[2022-05-10 14:51] #1949 closed

[2022-05-11 03:16] TylerL19 commented on #2994
Hi @Anemy , appName and Password of our connection string contains unescaped characters. Sorry for late response. Please help to fix this as soon as possible. This issue make us hard to reopen recents connections. Thank you very much!

[2022-05-14 13:38] Giotje opened #3094 "Bug Report: Saved connections not loading"
## Bug Report

#### Current Behavior

I cannot see favorited connections under favorites and i can't see my recent connections under recents when re-opening the app

#### Expected Behavior/Code

To see favorited and recent connections when re-opening the app

#### Environment

- OS:
Arch Linux x86_64

- Kernel:
5.17.5-arch1-2

[2022-05-17 13:48] Anemy commented on #3094
@Giotje A few questions to help us debug this issue:
- Compass uses the system's credential store to store connections, does your system have an available credential store like GNOME Keyring installed? https://www.mongodb.com/docs/compass/current/connect/favorite-connections/#considerations
- Does this happen for all connections? Local/Remote and different connection/authentication configurations?

[2022-05-17 15:32] Anemy commented on #2993
@MuthSW Thanks for reporting! We've just released [v1.31.3](https://github.com/mongodb-js/compass/releases/tag/v1.31.3) with a fix for this issue. Going to close this issue, if you update and find the issue persists feel free to reopen. Thanks again for catching this and helping us improve Compass!

https://github.com/mongodb-js/compass/releases

[2022-05-17 15:32] #2993 closed

[2022-05-20 16:57] michael-rivera-florencehc-com opened #3119 "Bug Report: mongodb-language-model npm package"
NodeJS npm package mongodb-language-model, not accepting valid mongo query

## Bug Report

#### Current Behavior

I am dynamically building queries against a mongodb database. In doing this I am using query checking, using a library called 'mongodb-language-model'. It has proven to work great for many of the queries I have run.

However, when using this library against the following query:

{"name

[2022-05-22 06:28] sydneyhenrard opened #3120 "Bug Report - Export collection with filter"
## Bug Report

The export query with filters only works if the filter has been executed which is an issue on collection where the filter takes forever. Also in the docs it seems not a requirement to run the query:

`Specify a [filter](https://www.mongodb.com/docs/compass/current/query/filter/#std-label-query-bar-filter) in the [query bar](https://www.mongodb.com/docs/compass/current/query/filter/#

[2022-05-23 13:15] Anemy commented on #3120
@sydneyhenrard Thanks for opening the issue, this is a current limitation of our export, sorry. A bit of context, we're currently in the process of re-designing the import/export flow. We hope to address a number of issues like this one with a fresher look at the ux now that we've had the feature for a bit.

In the upcoming Compass release (1.32.0) you can export an aggregation pipeline. This shou

[2022-05-24 02:25] mixeract opened #3129 "Recent Update 1.3.13 Past Queries don't retrain functions"
## Bug Report

#### Current Behavior

UI recent updates has caused the Past queiries to lose the function.
Steps to reproduce
1. In Filter type
 { userid: NumberLong(894303306233552937) }
2. Open Past Queires Pane, history looks good
3. click on another database
4. return to the first db and open the history pane. you will see the NumberLong function is lost and the query will look like {userid: 8

[2022-05-24 10:41] Giotje commented on #3094
let me see if i have a keyring installed, and then come back to you

[2022-05-24 10:49] Giotje commented on #3094
yo i installed the keyring and all the servers showed up. thank u man. much love

[2022-05-24 10:49] #3094 closed

[2022-05-25 19:09] petrhaus commented on #2068
2 months later, and with the jira ticket unassigned, I'd like to ask if "soon" is really going to happen any soon :-)

[2022-05-26 02:03] dungmv commented on #2068
2 years

[2022-05-28 20:35] lockieluke commented on #2068
as far as i know compass is already on electron v13 theres no way they cant support apple silicon

[2022-06-11 15:58] AmitKumarHQ opened #3180 "Feature Request: Better Dark Theme"
## Feature Request
I would like to request for a **Minimal and Clean Dark Theme**, as the current theme isn't too good in my opinion.

## Detailed Description
The current dark theme is only the [Dark Reader](https://chrome.google.com/webstore/detail/dark-reader/eimadpbcbfnmbkopoojfekhnkhdbieeh) extension with the default light theme.

## Context
Add a Preference tab, where we can customize the app

[2022-06-13 10:32] alexanderpalsson opened #3183 "Bug Report: Exported golang pipeline bson.D pipeline should used keyed fields"
## Bug Report
Currently, the exporter uses unkeyed fields for bson.D.

#### Current Behavior
`  bson.D{{"key", "val"}}
`

#### Code/Gist

#### Expected Behavior/Code
`  bson.D{{Key: "key", Value: "val"}}
`

#### Environment

- node.js / npm versions:
- OS:

#### Possible Solution

#### Additional Context/Screenshots

[2022-06-14 14:33] mijorus opened #3188 "Release on flathub [Linux]"
## Feature Request
Add Mongo Compass to Flathub for easier distribution and updates

## Detailed Description
Flathub is a store for flatpaks apps:
https://flathub.org/home

## Context
Makes it easier to install and update Compass

## Possible Implementation
I'm working on it:

https://github.com/flathub/flathub/pull/3269

If someone involved in the project is interested in maintaining it, please r

[2022-06-17 16:02] gribnoysup commented on #3183
Hi @alexanderpalsson! Thanks for opening an issue. Although both the current and the expected syntax that you provided in the description are valid, we made an intentional decision to implement the current behavior so that the generated code is aligned with the [go driver documentation](https://pkg.go.dev/go.mongodb.org/mongo-driver/mongo)

[2022-06-17 16:02] #3183 closed

[2022-06-21 12:58] Zaniyar opened #3202 "Bug Report: Connectivity issue w/ Dokku"
Trying to connect to a mongodb instance on Dokku fails with MongoDB Compass.

Trying exactly the same with Studio 3T worked.

I lost many hours looking for the reasons. But it is how it is, maybe someone has time to check this out.

[2022-06-22 15:23] Anemy commented on #3180
Hi @AmitKumarHQ, thanks for opening the issue. Improving dark mode is something we're currently tracking in our feedback forum: https://feedback.mongodb.com/forums/924283-compass/suggestions/38666287-i-would-like-a-dark-theme
The current dark mode is a preview of things to come. Some additional context, we're currently in the process of updating all of our components to support a dark mode with be

[2022-06-22 15:23] #3180 closed

[2022-06-24 08:15] 1Mark opened #3207 "Mongo Compass compatibility with MongoDB server version"
How can I know what's the latest version of MongoCompass I can use with MongoDB server. E.g if i'm using MongoDB 4.2.11 Community. What's the latest version of Compass I can use? I've searched a lot online and found no sort of document which explains this.

[2022-06-24 10:11] 1Mark commented on #3207
I tried the latest version of mongo compass, and it's not working with MongoDB 4.4.0 it just shows all collections as empty

[2022-06-24 10:17] addaleax commented on #3207
@1Mark Do you have a screenshot? Logs (Help → Open Log File → Extract and open as .txt)? Do you have the required permissions to see the collection contents?

[2022-06-24 10:20] 1Mark commented on #3207
I definitely have permission since when I downgraded compass version it worked.

[2022-06-24 10:21] addaleax commented on #3207
@1Mark Which versions did you try? Can you share log files for both cases to compare?

[2022-06-24 14:07] 1Mark commented on #3207
OK that bug went away after updating. The only thing left is, I get the following error

I'm using Compass Version 1.32.2 (1.32.2)

Server version: MongoDB 4.0.22 Community

[2022-06-24 14:18] addaleax commented on #3207
This typically indicates that your server is *older* than 3.6.

[2022-06-24 15:02] 1Mark commented on #3207
![image](https://user-images.githubusercontent.com/15360245/175562898-3fa2bc67-10fa-4919-b673-7c57ea0c8aae.png)

[2022-06-24 15:05] addaleax commented on #3207
@1Mark Thank you for the screenshot! Is there any chance that you would be able to share a log file as described above? Is there anything special about your server endpoint? What kind of topology are your server(s) configured in?

[2022-06-24 15:23] 1Mark commented on #3207
[code]

[2022-06-24 15:37] 1Mark commented on #3207
[code]

[2022-06-24 15:50] addaleax commented on #3207
@1Mark Usually, when requesting log files, it is also the initial connection attempt log lines that are helpful.

Can you open the embedded shell in Compass (at the bottom of the screen), or alternatively, connect with the MongoDB Shell and report the output of `db.isMaster()` (in particular the `logicalSessionTimeoutMinutes` field) and `db.adminCommand({ getParameter: 1, featureCompatibilityVersi

[2022-06-24 15:54] 1Mark commented on #3207
[code]

![image](https://user-images.githubusercontent.com/15360245/175572227-ed95f963-1c8f-4ea1-8181-d7c4bd5f0bca.png)

[2022-06-24 16:06] addaleax commented on #3207
@1Mark Where did you download the MongoDB Server binaries from? The `isMaster` response does not look like a typical MongoDB 4.0.22 Community `isMaster` response. Are you connecting against individual nodes with `directConnection` enabled?

[2022-06-24 16:07] addaleax commented on #3207
(We ask for log files because a full log files, even if redacted, typically contains a lot of this information without the need for extra round-trips asking for info.)

[2022-06-24 16:12] 1Mark commented on #3207
I'm connected to a single node with direct connection. But is isMaster["hosts"] returns a list of nodes; the node that I connect to is a relay node (that allows me to connect to other nodes but in a separate cluster so I don't impact their performance). Not sure the official term of this

[2022-06-24 16:19] addaleax commented on #3207
@1Mark I think the mismatch between directConnection and it being a relay to a cluster might be tripping up Compass.

I don’t know what exactly “relay” means here for you, and it might be important to clarify that; the only type of relays that are provided by MongoDB would be mongos, which is typically used in sharding but can also be used for other purposes, or load balancers. Those would generat

[2022-06-24 17:06] 1Mark commented on #3207
I think it's shared

[2022-06-24 17:50] 1Mark commented on #3207
But it's fully read only, all nodes in this cluster that I'm connected to.

[2022-06-27 12:35] addaleax commented on #3207
@1Mark

There’s nothing like that listed in the isMaster reply snippet above, though. Are you always connecting to the same host with the same configuration options here?

and you are connecting with directConnection=true to this specific node?

[2022-06-27 12:45] 1Mark commented on #3207
[code]
I apologise for the over redaction

[2022-06-27 12:55] 1Mark commented on #3207
`mongodb://someURI/?readPreference=secondary&directConnection=true`

[2022-06-28 12:16] MitchellCash opened #3219 "High CPU usage on macOS from the Renderer process"
## Bug Report

#### Current Behavior

I notice that Compass causes high CPU usage on my machine and it seems to stem from the Electron renderer process (see screenshot).

My machine is running a 2.6 GHz 6-Core Intel Core i7 and I wouldn't expect the Compass app to be averaging 15%-20% of the CPU when connected to a database.

#### Code/Gist

N/A

#### Expected Behavior/Code

Less CPU usage.

####

[2022-06-30 14:17] G-Ray commented on #3019
A flatpak package has been published by @mijorus :tada: https://github.com/mongodb-js/compass/issues/3188

[2022-06-30 14:17] #3019 closed

[2022-07-13 16:07] federicobaier commented on #1880
I have version 1.32.2 and I'm having the same issue. It refuses to save the favorite if I have SSL configuration in the connection string.

[2022-07-13 17:43] Anemy commented on #1880
@federicobaier Can you check if you're using any unescaped characters in the connection string? This might be caused by the issue mentioned in: https://jira.mongodb.org/browse/COMPASS-5745 where we fail to load connections with unescaped characters in their connection strings. It's an issue we'd like to get a fix out for sooner.

[2022-07-13 17:50] federicobaier commented on #1880
No, I don't see any unescaped characters. This is the connection string (without the cluster domain):

`mongodb+srv://here.goes.the.cluster.domain/?authSource=%24external&authMechanism=MONGODB-X509&retryWrites=true&w=majority&tls=true&tlsCertificateKeyFile=%2FUsers%2Ffedebaier%2Fdev%2Fcerts%2Fdb-cert.pem`

The connection works fine, it just doesn't save it as favorite.

[2022-07-14 22:08] RodrigoRosmaninho commented on #2068
I've taken the current master branch (as of this reply) and compiled it on an Apple Silicon machine.
Everything seems perfectly functional, and Activity Manager now shows "Kind: Apple" for all the MongoDB Compass processes 🙂

You can get the dmg file I generated on this link and try it for yourself while you wait for an official release: [https://drive.google.com/file/d/1Gzx1YXxv2ZimEZ6wFUEx94h4HG

[2022-07-14 22:28] neumann-nico commented on #2068
@RodrigoRosmaninho Thank you very much! Which steps did you do to compile it?

[2022-07-15 06:44] dungmv commented on #2068
You are my hero :D

[2022-07-15 14:51] Anemy commented on #1880
@frederickferby Thanks for pinging us on this. We were able to reproduce, looks like https://github.com/mongodb-js/compass/pull/3263 should fix it. We'll have that in the next Compass release.

[2022-07-15 19:08] federicobaier commented on #1880
Thanks @Anemy! Looking forward for the fix.

[2022-07-16 17:25] RodrigoRosmaninho commented on #2068
@neumann-nico here are the steps I went through:

1. Clone the repo
2. Bump node version to one that supports Apple Silicon in both package.json and packages/compass/package.json (I used 16.16.0)
3. Bump electron-packager to version 15.5.1 in packages/hadron-build/package.json
4. Find and replace all instances of `darwin-x64` to `darwin-arm64` in packages/hadron-build/lib/target.js
5. Run `npm ins

[2022-07-16 21:57] neumann-nico commented on #2068
Thanks it worked! You should create a pull request :)
Even though there is an error at the end, I think not a lot is missing to be fully working.

[2022-07-17 18:16] petrhaus commented on #2068
The performance boost is incredible. Can't wait for the official version.

[2022-07-22 08:02] dumbasPL commented on #3219
This issue is not specific to macOS.
The same exact thing happens on Linux as well.

[2022-07-28 00:22] neumann-nico commented on #2068
@RodrigoRosmaninho
Things are getting serious: https://github.com/mongodb-js/compass/pull/3269

[2022-07-28 01:38] RodrigoRosmaninho commented on #2068
Thanks for the update 👍

[2022-07-30 14:07] snird opened #3303 "Compass crash when editing big documents"
When editing a document as JSON, and copying a big JSON output (>1MB typically) the entire app crashes.

Apps like Studio 3T don't crash, as they recognize the file is big and thus optimize the editor:
![image](https://user-images.githubusercontent.com/2139589/181918030-611a8aa4-5ae8-4f96-983b-cfb08297f2be.png)

It would be nice to have Compass able to handle big files too.

[2022-08-02 20:37] #2682 closed

[2022-08-04 08:41] ZhigunovSemen commented on #3207
Hi, the similar issue appears since last year.  https://jira.mongodb.org/browse/COMPASS-5304
Why this ticket closed without any explanation?

Howewer, this problem forces me to use 1.28.4 with disabled automatic updating.

[2022-08-04 13:20] Anemy commented on #3207
@ZhigunovSemen I do see an explanation for the closing of that ticket:

Are you using a MongoDB Version less than 3.6?

I'm not quite sure on the cause of @1Mark's issue. It looks like you're on a > 3.6 version but something isn't letting the sessions.
Are you able to start a session manually when you're connected?
[code]

[2022-08-04 14:19] 1Mark commented on #3207
Will this change the state/settings of the DB or only client session settings?

[2022-08-08 14:26] ZhigunovSemen commented on #3207
[code]
We have server version 3.6.11.

[code]
I run this without any problems/errors.

Could you please add this information for Compass download page, so the people will have able to right choice which version need to download for older version of database ?

[2022-08-09 16:38] gribnoysup commented on #2068
arm64 build for macOS is now available in the [download center](https://www.mongodb.com/try/download/compass) for the latest beta (1.33.0-beta.2) and will be available in the next stable release so I'm closing the issue. If something in the beta doesn't work for you, please feel free to open a new issue with a specific issue details

[2022-08-09 16:38] #2068 closed

[2022-08-13 22:20] AbdullahDiaa commented on #2068
For some reason the arm64 download link is not listed, just replace x64 in the link with arm64 https://downloads.mongodb.com/compass/beta/mongodb-compass-1.33.0-beta.4-darwin-arm64.dmg

[2022-08-15 13:56] alexanderpalsson commented on #3183
@gribnoysup understandable even though it is against go recommendations `We therefore recommend that composite literals whose type is defined in a separate package should use the keyed notation.` https://go.dev/doc/go1compat#expectations

[2022-08-22 13:36] urswiss opened #3373 "Attributes skipped while importing json"
## Bug Report

#### Current Behavior

The attribute `frameworkContract` is ignored while importing. There is no error message.
To reproduce: Click on `Add data`, `Import File`, `Select a file...`, open the file which contains the data below. The option `Stop on errors` is not checked.

#### Code/Gist

[code]

#### Expected Behavior/Code

Anything in the json should end up in the collection.

####

[2022-08-22 13:40] urswiss commented on #3373
works fine in MongoDB Compass version 1.26.1

[2022-08-22 13:58] Anemy commented on #3373
Hi @urswiss this looks like this bug we're currently tracking in jira: https://jira.mongodb.org/browse/COMPASS-5971
We'll update here when there's a fix out. Thanks for reporting the issue.

[2022-08-22 16:22] RogerMeyer commented on #3373
It works for / with MongoDB Compass 1.30.1. I had no issues.

[2022-08-24 13:29] 1Mark commented on #3207
The advice on SO for just using Compass 1.28.4 is the only workaround for now https://stackoverflow.com/a/70298708/5506988

[2022-08-31 02:23] dropocol commented on #2946
Any update on this issue? I've been using the temporary hack for a few months now but would love to see this issue resolved. Thank you.

[2022-09-01 01:10] sillysillyc opened #3414 "[Feature Request] Support Multi Language"
Would Mongodb Compass consider supporting muti language or just expose a way to allow community to help translating ?

[2022-09-01 01:12] feliciahsiehdb commented on #3414
Do you mean a spoken/written language or a programming language for code snippets?

[2022-09-01 01:14] sillysillyc commented on #3414
@feliciahsiehdb like Chinese、Japanese and other languages for GUI

[2022-09-01 03:45] Anemy commented on #3414
That's a good suggestion, as far as I know we haven't looked into providing a way for folks to translate. I'll see if there's anything we have tracked on this currently.

[2022-09-02 12:11] Gowee opened #3423 "Fields missing when exporting collection"
## Bug Report

#### Current Behavior
By clicking the "Export Collection" icon button, some fields are missing in the popup window and in the exported JSON.

#### Code/Gist
N/A

#### Expected Behavior/Code
All fields are listed in the popup window. Otherwise, at least they are present in the exported JSON if "all" is checked.

#### Environment

- Client: mongodb-compass-isolated-bin 1.32.6-1
- Serv

[2022-09-02 12:24] addaleax commented on #3423
Hey @Gowee – Thanks for the report!

You are right as to what causes this, and we are aware of this pain point. We are currently in the design phase for an overhaul of our import/export functionality, and addressing this issue is absolutely going to be part of that.

I don’t think we have any public documents/tickets that I could link to for tracking this yet, though.

[2022-09-02 13:03] Gowee commented on #3423
Hi @addaleax.
Thanks for your kind reply and the excellent project. Looking forward to the new design.

[2022-09-02 13:06] Gowee commented on #3423
Should I close the issue for now?

[2022-09-02 13:16] addaleax commented on #3423
@Gowee Up to you! The alternative would be us commenting here to let you know once there’s an internal ticket to follow up on.

[2022-09-07 15:57] Anemy commented on #3414
Chatted with the team, this isn't on the roadmap currently, and we're not sure how requested of a feature it is. If this is something you'd like can you upvote it in our feedback forum?
I created a suggestion for it here: https://feedback.mongodb.com/forums/924283-compass/suggestions/45664513-add-support-for-languages-localization-internati

By upvoting it we can get more of a sense of how many fo

[2022-09-07 15:57] #3414 closed

[2022-09-07 16:09] Anemy commented on #2994
This was fixed and release in Compass `1.32.5` - sorry for the late update. Closing this now, feel free to reopen if you upgrade and find the issue still persists. Thanks for reporting this and helping improve Compass!

[2022-09-07 16:09] #2994 closed

[2022-09-07 16:33] Anemy commented on #2946
@dropocol We're not sure what's causing this issue, we have yet to see other folks impacted by it. Do you have any other any configurations on your computer that impact electron/chromium based applications? If you uninstall Compass and reinstall it does the issue persist? Let us know if there's any other information that might help us diagnose or reproduce the issue.

[2022-09-07 16:35] Anemy commented on #2300
Going to close this as we're tracking this in the feedback portal and will get to it in time. Thanks again for opening this.

[2022-09-07 16:35] #2300 closed

[2022-09-07 17:20] dropocol commented on #2946
I've reinstalled it a couple of times and it always shows up. I really don't understand what else I can do to make it go away as it's too annoying. I always have to use the dev tools to disable the css class to make it work.

All other electron/chromium based apps work fine on my computer and no other app shows any kind of issues. It's only Compass.

[2022-09-09 08:55] garawaa opened #3461 "Please implement multiselection"
I just want to delete multiple columns or rows in a collection.
Thank you.

[2022-09-09 08:57] gribnoysup commented on #3461
Hi @garawaa! Thanks for opening an issue, we use [feedback portal](https://feedback.mongodb.com/forums/924283-compass) to track feature requests. Please submit any feature requests there

[2022-09-09 08:57] #3461 closed

[2022-09-09 09:01] garawaa opened #3462 "Feature Request"
Please implemnt multi selection feature. I just want to delete  multiple documents or columns

[2022-09-09 09:06] addaleax commented on #3462
Will close this as a duplicate of https://github.com/mongodb-js/compass/issues/3461 :+1:

[2022-09-09 09:06] #3462 closed

[2022-09-16 02:01] Anemy commented on #3373
@urswiss This is fixed in the newly released version `1.33.1`. Thanks again for reporting this and helping us improve Compass. Going to close this, feel free to reopen if you update and things aren't behaving as expected.

https://github.com/mongodb-js/compass/releases

[2022-09-16 02:01] #3373 closed

[2022-09-18 11:43] Mosallamy opened #3491 "Bug Report: document/index count not updated when clicking on collection tab"
## Bug Report

#### Current Behavior
When opening collections in a new tab, then clicking a collection tab button, the document/index count does not change and only reflects the count for the last opened collection.

#### Expected Behavior/Code
Clicking on a collection tab should update document/index count

#### Environment

- **node.js:** 17.9.0
- **npm:** 8.5.5:
- **OS:** OSX 12.0.1 iMac M1 202

[2022-09-19 13:33] mabaasit commented on #3491
@Mosallamy thanks for reporting this issue. I've opened [ticket](https://jira.mongodb.org/browse/COMPASS-6146) to keep track of this issue.

[2022-09-20 06:10] AishwaryaChat commented on #3491
@Mosallamy  Please let me know if I can work on fixing this issue

[2022-09-20 08:49] Mosallamy commented on #3491
Hey @AishwaryaChat, please check with one of the maintainers as I'm not working on this project.

[2022-09-23 08:18] l0ner opened #3512 "Compass does not save favorites on WSL"
Just as in title. I have Compass installed in WSL. I can add as many favories as I can, but if I close Compass and reopen it all the favorites are gone.

From reading #1911 and #1956 it might seem the gnome-keyring is needed for this to function, and some users have resolved this simply by installing it. I do have gnome-keyring installed and autostarting in my WSL installation, and applications li

[2022-09-23 14:22] nmoreaud opened #3516 "Increase "import document" editor focus size"
When using "Add Data" > "Import document", the grey editor zone is quite large, but when clicking in it we cannot easily clear the example content.
Ex if we click in the green rectangle, and drag the mouse, the text is not selected.

![image](https://user-images.githubusercontent.com/2413781/191982265-703eb35f-9dce-4bae-a325-0d2b220fc681.png)

[2022-09-26 20:18] Anemy commented on #3119
Looks like we're currently using the [`mongodb-language-model`](https://github.com/mongodb-js/mongodb-language-model) in Compass through the [`query-parser`](https://github.com/mongodb-js/query-parser) package:
https://github.com/mongodb-js/query-parser/blob/24d4426dc2f50e86cd4b60675cff750d3be033a2/lib/index.js#L96

So this bug would impact Compass when using the `$expr` command in the query bar a

[2022-09-26 20:23] Anemy commented on #2518
Hi @guludo - this is something that would be better suited for our feedback forum: https://feedback.mongodb.com/forums/924283-compass
From a quick search, this might be what you're looking for:
https://feedback.mongodb.com/forums/924283-compass/suggestions/44239251-possibility-to-set-variables-used-in-pipeline-stag

The feedback forum allows for upvoting features so we can have a better sense of h

[2022-09-26 20:23] #2518 closed

[2022-09-26 20:26] Anemy commented on #3188
Hi @mijorus - this is something that would be better suited for our feedback forum: https://feedback.mongodb.com/forums/924283-compass
From a quick search, this might be what you're looking for:
https://feedback.mongodb.com/forums/924283-compass/suggestions/45344404-mongodb-compass-on-flathub

The feedback forum allows for upvoting features so we can have a better sense of how many folks are inter

[2022-09-26 20:26] #3188 closed

[2022-09-26 20:32] Anemy commented on #3009
@RealMuDao Looks like this is fixed in the new `1.34.0-beta.1` release. This'll land in the 1.34.0 release when it happens.
Going to close this, feel free to reopen when you update if things aren't as expected. Thanks to @gribnoysup for the fix and @addaleax for pulling it into Compass.
Thanks again for bringing this up!

[2022-09-26 20:32] #3009 closed

[2022-09-27 00:59] RealMuDao commented on #3009
I am glad to hear that, thanks.

[2022-09-27 06:09] AishwaryaChat commented on #3491
@mcasimir  Please let me know if I can work on fixing this issue

[2022-09-27 09:36] #3516 closed

[2022-09-27 14:01] mcasimir commented on #3491
Hey @AishwaryaChat, sure feel free to submit a PR! please sign our https://www.mongodb.com/legal/contributor-agreement first! Thanks!!

[2022-09-27 18:15] #3202 closed

[2022-09-29 09:36] #3119 closed

[2022-09-29 13:01] Anemy commented on #2160
Adding some context here, this is a project we're currently planning scoping out. We'll be working on it in the next few months.
To follow along and get updates you can upvote the entry in the feedback forum:
https://feedback.mongodb.com/forums/924283-compass/suggestions/39711439-add-support-to-export-multiple-collections

[2022-10-05 09:34] AishwaryaChat commented on #3491
@Anemy  although I already went through most of the compass code flow, but yes doing the fix requires more discussion with the team. I's not a trait forward fix.
I shall work on https://jira.mongodb.org/browse/COMPASS-6156

[2022-10-05 16:09] Anemy commented on #2160
Going to close this as we're using github issues to track bug reports and the feedback forum to track feature requests and future projects. Thanks for bringing it up!

[2022-10-05 16:09] #2160 closed

[2022-10-05 16:14] Anemy commented on #2364
Hi @Starystars67 - apologies for the late reply on this.
We're tracking feature requests and future projects in our feedback forum: https://feedback.mongodb.com/forums/924283-compass - I haven't really seen a request like this in there, so it would be good to add it. The feedback forum allows for upvoting so we can gauge how many people are interested in something and it lets folks stay informed w

[2022-10-05 16:14] #2364 closed

[2022-10-05 16:18] #2427 closed

[2022-10-05 16:21] #2097 closed

[2022-10-12 14:51] #2836 closed

[2022-10-22 10:42] CodingSpiderFox opened #3629 "Feature Request: Allow custom id generators to be used on duplication of documents"
## Feature Request

## Detailed Description

I want to have a (maybe per server) setting dialog where I can enter a custom JS function that returns any of the mongoDB supported datatypes for the primary key (_id or id - usually String, ObjectId or NumberLong) and is then used everytime I insert a new document in mongoDB compasst.

## Context

I was testing deduplication functionality I implemented

[2022-10-22 10:58] CodingSpiderFox opened #3630 "Feature Request: Add simplified parallel insertion command syntax"
## Feature Request

## Detailed Description

I want to insert documents into the same logical database in a structured way without unnecessary repetetive typing (syntax is pseudocode only as I will likely mix up Java Lambda expression syntax with JS because I am mainly a Java Engineer)

parallel({
  databases: [
    {dbName: "databaseA", additionalDocuments: []},
    {dbName: "databaseB", addition

[2022-10-24 00:36] myknbani commented on #1911
Same experience here.  MongoDB Compass exits just one time, perhaps trying to open Gnome Keyring.  Subsequent opens work fine.

[2022-10-27 05:32] niconiconiconiconiconi commented on #1911
mongodb-compass 1.33.1-1

[2022-10-27 14:29] #3629 closed

[2022-10-27 14:34] Anemy commented on #3630
Hi @CodingSpiderFox - to clarify is this something you'd like exposed in the UI? Where might it live?

As I mentioned in the other issue you created, I'm going to close this issue if that's alright, we've moved our feature requests to the feedback forum as they're easier to track there and we'd like to prioritize bugs and issues on GitHub. You can find the feedback forum here: https://feedback.mon

[2022-10-27 14:34] #3630 closed

[2022-11-02 19:41] CodingSpiderFox commented on #3630
Thanks,

seeding the DB with sample documents like persons, addresses etc. would be nice like with the "faker" library
Also, a mongo script would be possible for me, and after thinking about it would be better because with the proposal I made the syntax of mongodb commands might become too bloated. I guess only few people would be willing to learn that for just such a small benefit. I guess the mo

[2022-11-15 09:38] Lix1993 opened #3760 "Bug Report | cannot query using big int"
## Bug Report

#### Current Behavior
Insert one doc to collection:
[code]
![image](https://user-images.githubusercontent.com/12579295/201884846-de4f3dc2-8cf8-4eb1-908c-001b77c54335.png)

query by _id get no result
![image](https://user-images.githubusercontent.com/12579295/201884960-5362b199-3dd3-40f5-bc3f-2dcff04f1085.png)

[2022-11-15 09:53] Lix1993 commented on #3760
is this a json issue?

https://github.com/json5/json5/issues/292

[2022-11-15 10:21] addaleax commented on #3760
Yes, this is a JS/JSON issue. You should be able to use `{ _id: Long(1590276559111561229) }` in your query, maybe that helps? In the future, we will probably also support `{ _id: 1590276559111561229n }` (the JS bigint syntax).

[2022-11-16 01:08] #3760 closed

[2022-11-21 09:14] suryakanthrai opened #3797 "A full stop at the ending of the line"
![image](https://user-images.githubusercontent.com/46310284/203009355-c449e41d-da6a-4047-9154-c8e6c7205e4d.png)

At the ending of the statement I expect a full stop at the end. But in this Reademe.md file there is a full stop for a single statement and for remaining its not there.

[2022-11-30 18:30] Anemy commented on #3797
Thanks for opening the issue! Standardized the README punctuation in #3831 .